Repository Avaiga/taipy, pull requests merged in 2023-06, with the labels that each got.

#158 update github actions
  .github/workflows/linter.yml
  .github/workflows/packaging.yml
  .github/workflows/publish.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: 📈 Improvement, 🖧 Devops, 🟨 Priority: Medium

#159 do not use pipenv in build
  gui/scripts/install.js
Labels: 🖧 Devops, 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#160 taipy-gui is needed to build this package
  .github/workflows/release-dev.yml
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High

#170 Release/2.3.0.dev0
  .github/workflows/publish.yml
  setup.py
Labels: 🟥 Priority: Critical, 💥Malfunction

#172 connect scenario viz (#163)
  .github/workflows/publish.yml
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/icons/input.tsx
  gui/src/icons/output.tsx
  gui/src/projectstorm/NodeWidget.tsx
  gui/src/utils.ts
  gui/src/utils/ConfirmDialog.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/version.json
  tests/cli/test_scaffolding.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#176 #157 DataNode selector
  gui/src/NodeSelector.tsx
  gui/src/index.ts
  gui/src/utils/types.ts
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#191 Prevent Scenario from being pushed to the front-end (#190)
  src/taipy/__init__.py
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#198 #197 dag toolbar core workaround
  gui/src/ScenarioDag.tsx
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#204 doc: viselements (#203)
  src/taipy/gui_core/viselements.json
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#206 #205 pipeline submit no edit
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioViewer.tsx
  src/taipy/gui_core/viselements.json
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#207 fix dependency on templates
  setup.py
Labels: 🖧 Devops

#208 fix gui dependency
  .github/workflows/publish.yml
Labels: 🖧 Devops

#212 doc hide private classes
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#213 backport: doc hide private classes
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#217 Fix property loosing keyboard focus (#216)
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#218 Backport/#216 #167 property key tree item default scenario
  gui/package.json
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/version.json
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#223 #222 init values
  gui/package.json
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/__init__.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#224 Backport: init values (#222)
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/__init__.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#229 backport: use is_promotable and is_submittable
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#228 use is_promotable and is_submittable
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#231 #215 improve performances
  gui/src/ScenarioViewer.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High
