Repository Avaiga/taipy, pull requests merged in 2023-12, with the labels that each got.

#531 chore: fix typo in utils.py
  src/taipy/templates/tests/utils.py
Labels: 📈 Improvement, good first issue, 🟩 Priority: Low

#584 Compute global setup to avoid duplicate info
  .github/workflows/packaging.yml
  MANIFEST.in
  setup.py
  tools/packages/taipy-config/MANIFEST.in
  tools/packages/taipy-config/setup.py
  tools/packages/taipy-config/setup.requirements.txt
  tools/packages/taipy-core/MANIFEST.in
  tools/packages/taipy-core/setup.py
  tools/packages/taipy-core/setup.requirements.txt
  tools/packages/taipy-gui/MANIFEST.in
  tools/packages/taipy-gui/setup.py
  tools/packages/taipy-gui/setup.requirements.txt
  tools/packages/taipy-rest/MANIFEST.in
  tools/packages/taipy-rest/setup.py
  tools/packages/taipy-rest/setup.requirements.txt
  tools/packages/taipy-templates/MANIFEST.in
  tools/packages/taipy-templates/setup.py
  tools/packages/taipy-templates/setup.requirements.txt
  tools/packages/taipy/MANIFEST.in
  tools/packages/taipy/setup.py
  tools/packages/taipy/setup.requirements.txt
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High

#586 compute global MANIFEST.in
  .github/workflows/packaging.yml
  setup.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#590 add text to icon in button (#587)
  frontend/taipy-gui/src/components/Taipy/Button.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#594 adding frontend tests and coverage
  .github/workflows/frontend.yml
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖧 Devops, GUI: Front-End

#602 evaluate datatype without pandas for strings (#601)
  frontend/taipy-gui/src/components/Taipy/Field.tsx
  taipy/gui/utils/datatype.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#607 Simplify table filter UI (#502 #545)
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#615 Improved date visual elements to prevent line breaks
  frontend/taipy-gui/public/stylekit/controls/date.css
Labels: 📈 Improvement, 🟩 Priority: Low, GUI: Front-End

#621 Propose an initial set of issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-improvement.md
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: 🖧 Devops, 🟨 Priority: Medium

#624 add markers mode to decimators
  taipy/gui/data/decimator/lttb.py
  taipy/gui/data/decimator/minmax.py
  taipy/gui/data/decimator/rdp.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#629 build taipy frontend package simply
  doc/gui/extension/README.md
  doc/gui/extension/example_library/front-end/scripts/install.js
  doc/gui/extension/example_library/front-end/webpack.config.js
  frontend/taipy-gui/extension-index.md
  frontend/taipy/dev.env
  frontend/taipy/scripts/install.js
  frontend/taipy/webpack.config.js
  tools/frontend/bundle_build.py
  tools/packages/taipy/setup.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End
