Repository Avaiga/taipy, pull requests merged in 2023-10, with the labels that each got.

#310 follow taipy-gui 3.0 changes
  gui/src/utils.ts
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 📈 Improvement

#316 on_action parameter removed (#311)
  src/taipy/gui_core/_context.py
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#320 Multiple delete Jobs (#319)
  gui/src/JobSelector.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#321 Refresh history when data is shown/edited (#317)
  gui/src/DataNodeTable.tsx
  gui/src/DataNodeViewer.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#322 Support authorization for all controls (taipy-enterprise #233)
  gui/src/DataNodeViewer.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  src/taipy/gui_core/_adapters.py
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI

#323 test all the is_* used in context
  src/taipy/gui_core/_context.py
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_promotable.py
  tests/gui_core/test_context_is_readable.py
  tests/gui_core/test_context_is_submitable.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🧪Testing, 🖰 GUI

#324 use the new optional feature of lov_value from gui
  src/taipy/gui_core/_GuiCoreLib.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#325 Catch exception raised by Core on Job access (#318)
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#328 refresh job_selector (#318)
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#329 force refresh on scenario creation (#955)
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#332 Prevent unnecessary DAG render
  gui/package-lock.json
  gui/package.json
  gui/src/ScenarioDag.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#335 update dependencies version
  .github/workflows/publish.yml
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#336 Align sources and doc
  src/taipy/gui_core/_GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📄 Documentation, 🖰 GUI

#340 Valid default values
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📄 Documentation, 🖰 GUI

#344 Two small bugs on badly placed variables declaration
  src/taipy/gui_core/_adapters.py
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#346 - improvements (tooltip, keys) (#341#342 #343)
  gui/src/CoreSelector.tsx
  gui/src/DataNodeChart.tsx
  gui/src/DataNodeTable.tsx
  gui/src/DataNodeViewer.tsx
  gui/src/JobSelector.tsx
  gui/src/PropertiesEditor.tsx
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/utils.ts
  gui/src/utils/ConfirmDialog.tsx
  src/taipy/gui_core/_adapters.py
  src/taipy/gui_core/_context.py
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 💥Malfunction

#347 tooltips
  gui/src/CoreSelector.tsx
  gui/src/DataNodeViewer.tsx
  gui/src/PropertiesEditor.tsx
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/utils/ConfirmDialog.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#349 Mui will move tree from lab to X in october !
  gui/package-lock.json
  gui/src/CoreSelector.tsx
  src/taipy/gui_core/_adapters.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 🖰 GUI

#351 Improve Enter and Escape key handling
  gui/src/PropertiesEditor.tsx
  gui/src/ScenarioViewer.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI

#352 typos or bad copy/paste
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📄 Documentation, 🖰 GUI

#353 Datanode viewer: Refresh data and history tabs if needed
  .gitignore
  gui/src/DataNodeViewer.tsx
  gui/src/ScenarioViewer.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#354 handle exception in on_creation
  src/taipy/gui_core/_context.py
  src/taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#356 no state to get submission fn (#355)
  gui/src/DataNodeViewer.tsx
  src/taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#367 Generate common files across taipy repos
  .github/sync.yml
  .github/workflows/sync.yml
Labels: hacktoberfest
