Repository Avaiga/taipy, pull requests merged in 2023-05, with the labels that each got.

#129 feat: #121 Edit scenarios feature
  gui/src/ScenarioSelector.tsx
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature

#133 #115 select, update and delete scenario
  gui/.eslintrc.js
  gui/package-lock.json
  gui/package.json
  gui/src/ScenarioSelector.tsx
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#134 update install script (#115)
  gui/package-lock.json
  gui/package.json
  gui/scripts/install.js
  src/taipy/gui_core/GuiCoreLib.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#137 art: README changes, corrects aspect ratios for images, corrects code for demos
  README.md
Labels: 📄 Documentation

#138 feat(ScenarioSelector): adjust and improve styles
  .editorconfig
  gui/src/ScenarioSelector.tsx
  gui/src/icons/cycle.component.tsx
  gui/src/icons/datanode.component.tsx
  gui/src/icons/index.ts
  gui/src/icons/job.component.tsx
  gui/src/icons/pipeline.component.tsx
  gui/src/icons/scenario.component.tsx
  gui/src/icons/task.component.tsx
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#145 Scenario graph (#128)
  gui/package-lock.json
  gui/package.json
  gui/src/ScenarioGraph.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/icons/cycle.tsx
  gui/src/icons/datanode.tsx
  gui/src/icons/index.ts
  gui/src/icons/input.tsx
  gui/src/icons/job.tsx
  gui/src/icons/pipeline.tsx
  gui/src/icons/scenario.tsx
  gui/src/icons/task.tsx
  gui/src/index.ts
  gui/src/projectstorm/NodeWidget.tsx
  gui/src/projectstorm/factories.tsx
  gui/src/projectstorm/models.ts
  gui/src/utils/childtype.ts
  gui/src/utils/config.ts
  gui/src/utils/diagram.ts
  gui/src/utils/names.ts
  gui/src/utils/types.ts
  gui/tsconfig.json
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature

#152 #151 manage unselect
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#155 #154 improve dag looks
  gui/src/icons/index.ts
  gui/src/icons/input.tsx
  gui/src/icons/output.tsx
  gui/src/projectstorm/NodeWidget.tsx
  gui/src/utils/diagram.ts
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#156 #154 input vs output
  gui/src/icons/input.tsx
  gui/src/icons/output.tsx
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High
