Repository Avaiga/taipy, pull requests merged in 2023-07, with the labels that each got.

#199 job selector (#177)
  gui/package-lock.json
  gui/src/JobSelector.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/index.ts
  gui/src/utils.ts
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium

#234 Adds a Discord invite link to the README
  README.md
Labels: 📄 Documentation

#235 Feature/templates#14 - Auto-discover available templates
  src/taipy/_cli/_scaffold_cli.py
Labels: 📈 Improvement, 🟨 Priority: Medium

#239 #236 #238 dags and pins in selector
  gui/src/CoreSelector.tsx
  gui/src/NodeSelector.tsx
  gui/src/ScenarioDag.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/utils.ts
  gui/src/utils/diagram.ts
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#240 #825 avoid parasite updates
  gui/src/NodeSelector.tsx
  gui/src/ScenarioSelector.tsx
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#241 scenario viewer adjustments (#230)
  gui/src/ScenarioViewer.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#244 Preselect scenario config if it is unique
  gui/package-lock.json
  gui/package.json
  gui/src/ScenarioSelector.tsx
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#249 #247 declare globally the core gui variables
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#254 backport on_create (#232)
  gui/package.json
  gui/src/ScenarioSelector.tsx
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 📈 Improvement, 🟧 Priority: High, 📝Release Notes
