Repository Avaiga/taipy, pull requests merged in 2023-08, with the labels that each got.

#265 Pipenv was upgraded
  Pipfile
  tox.ini
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#266 datanode viewer WiP no chart (#251)
  Pipfile
  gui/package-lock.json
  gui/src/CoreSelector.tsx
  gui/src/DataNodeViewer.tsx
  gui/src/JobSelector.tsx
  gui/src/NodeSelector.tsx
  gui/src/PropertiesEditor.tsx
  gui/src/ScenarioSelector.tsx
  gui/src/ScenarioViewer.tsx
  gui/src/index.ts
  gui/src/utils.ts
  gui/src/utils/hooks.ts
  setup.py
  src/taipy/gui_core/GuiCoreLib.py
  src/taipy/gui_core/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#272 no need to refresh to show tabular data (#271)
  gui/src/DataNodeChart.tsx
  gui/src/DataNodeViewer.tsx
  src/taipy/gui_core/GuiCoreLib.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 💥Malfunction
