Repository Avaiga/taipy, pull requests merged in 2024-10, with the labels that each got.

#1863 Warn user on style property name change
  taipy/gui/_renderers/builder.py
  taipy/gui/utils/table_col_builder.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1854 add sso hooks
  taipy/gui/_default_config.py
  taipy/gui/_gui_cli.py
  taipy/gui/config.py
  taipy/gui/gui.py
  taipy/gui/server.py
  tests/gui/helpers.py
Labels: 📄 Documentation, 🖰 GUI, 📝Release Notes, GUI: Front-End, Gui: Back-End

#1874 fix function vs method
  taipy/gui/_renderers/builder.py
  taipy/gui/page.py
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1875 Minor doc improvements.
  doc/gui/examples/controls/selector_filter.py
  doc/gui/examples/controls/selector_icon.py
  taipy/gui/gui.py
  taipy/gui/state.py
  taipy/gui/viselements.json
Labels: 📄 Documentation, 🖰 GUI

#1882 Stack broadcasts so that not one is lost
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy-gui/test-config/nanoid.js
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeChart.tsx
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/JobViewer.tsx
  frontend/taipy/src/NodeSelector.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils.ts
  taipy/gui/gui.py
  taipy/gui/types.py
  tests/gui/server/ws/test_broadcast.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1880 Input example
  doc/gui/examples/controls/input_active.py
  doc/gui/examples/controls/input_change_delay_on_change.py
  doc/gui/examples/controls/input_line_shown.py
  doc/gui/examples/controls/input_multiline.py
  doc/gui/examples/controls/input_on_action.py
  doc/gui/examples/controls/input_password.py
  doc/gui/examples/controls/input_type.py
Labels: 📄 Documentation, 🖰 GUI, 📝Release Notes, GUI: Front-End

#1894 manage broadcast
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/JobViewer.tsx
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils.ts
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1897 add context to lambda var
  .gitignore
  taipy/gui/_renderers/builder.py
  taipy/gui/builder/_element.py
  taipy/gui/builder/_utils.py
  taipy/gui/gui.py
  taipy/gui/utils/_evaluator.py
  taipy/gui/utils/_lambda.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1890 example date
  doc/gui/examples/controls/date_format.py
  doc/gui/examples/controls/date_min_max.py
  doc/gui/examples/controls/date_not_editable.py
  doc/gui/examples/controls/date_simple.py
  doc/gui/examples/controls/date_styling.py
  doc/gui/examples/controls/date_with_time.py
Labels: 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#1820 gui.extension.Element doc fixed
  taipy/gui/extension/library.py
Labels: 📄 Documentation, 🖰 GUI

#1901 Update contributors.txt
  contributors.txt
Labels: 🖧 Devops

#1902 Date range examples
  doc/gui/examples/controls/date_range_labels.py
  doc/gui/examples/controls/date_range_simple.py
  doc/gui/examples/controls/date_range_styling.py
  doc/gui/examples/controls/date_range_with_time.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟨 Priority: Medium

#1915 prevent taipy gui builder from re registering (#1914)
  taipy/gui/builder/_api_generator.py
Labels: 🖰 GUI

#1912 Scenario Dag relayout on scenario change
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/projectstorm/models.ts
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1923 lambda in exported page
  taipy/gui/_renderers/builder.py
  tests/gui/lambdas/__init__.py
  tests/gui/lambdas/another_module.py
  tests/gui/lambdas/test_lambda.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1924 fixed the issues with contribution.md
  CONTRIBUTING.md
Labels: 📄 Documentation, 🟩 Priority: Low

#1933 Slightly simpler examples for buttons.
  doc/gui/examples/controls/button_icon.py
  doc/gui/examples/controls/button_simple.py
Labels: 📈 Improvement, 🖰 GUI, 🟩 Priority: Low

#1892 Improved README
  README.md
Labels: 📄 Documentation, 🟩 Priority: Low

#1903 Added handle-issues.yml to clean up no response sections
  .github/workflows/hande-issues.yml
Labels: 📈 Improvement, 🖧 Devops, 🟨 Priority: Medium

#1946 Added a sample for decimation
  doc/gui/examples/charts/advanced_large_datasets.py
  doc/gui/examples/controls/table_custom_format.py
  doc/gui/examples/controls/table_guard_edits.py
  doc/gui/examples/styling_dynamic.py
  taipy/gui/page.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟨 Priority: Medium

#1731 multiple traces with new decimator api (#1062)
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/data/__init__.py
  taipy/gui/data/decimator/__init__.py
  taipy/gui/data/decimator/base.py
  taipy/gui/data/decimator/lttb.py
  taipy/gui/data/decimator/minmax.py
  taipy/gui/data/decimator/rdp.py
  taipy/gui/data/decimator/scatter_decimator.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/data/utils.py
  tests/gui/data/test_pandas_data_accessor.py
  tests/gui/gui_specific/test_df_filter.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes

#1952 pandas decimators
  taipy/gui/data/pandas_data_accessor.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1927 Update README.md
  README.md
Labels: 📄 Documentation, 🟩 Priority: Low

#1959 Hide decimator internals
  doc/gui/examples/charts/advanced_large_datasets.py
  taipy/gui/data/decimator/base.py
  taipy/gui/data/decimator/lttb.py
  taipy/gui/data/decimator/minmax.py
  taipy/gui/data/decimator/rdp.py
  taipy/gui/data/decimator/scatter_decimator.py
  taipy/gui/data/pandas_data_accessor.py
Labels: 📄 Documentation, 💥Malfunction, 🟧 Priority: High, Gui: Back-End

#1966 "Delete" and "Promote to Primary" buttons always inactive
  frontend/taipy/src/ScenarioViewer.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1951 display unsupported data in datanode with error message
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_adapters.py
Labels: Core, 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End, Gui: Back-End

#1967 remove cookie from navigate usage
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1954 FIx flask-cors and pymongo vulnerabilities
  .github/workflows/dependencies-management.yml
  .github/workflows/overall-tests.yml
  .github/workflows/packaging.yml
  .github/workflows/partial-tests.yml
  .github/workflows/publish.yml
  INSTALLATION.md
  Pipfile
  doc/gui/extension/README.md
  doc/gui/extension/pyproject.toml
  setup.py
  taipy/config/common/_template_handler.py
  taipy/config/setup.py
  taipy/config/version.json
  taipy/core/_entity/_dag.py
  taipy/core/setup.py
  taipy/core/version.json
  taipy/gui/INSTALLATION.md
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/setup.py
  taipy/gui/version.json
  taipy/rest/setup.py
  taipy/rest/version.json
  taipy/templates/setup.py
  taipy/templates/version.json
  taipy/version.json
  tests/core/config/test_file_config.py
  tests/gui/gui_specific/test_gui.py
  tests/gui/utils/test_types.py
  tools/packages/taipy-config/setup.py
  tools/packages/taipy-core/setup.py
  tools/packages/taipy-core/setup.requirements.txt
  tools/packages/taipy-gui/setup.py
  tools/packages/taipy-gui/setup.requirements.txt
  tools/packages/taipy-rest/setup.py
  tools/packages/taipy-templates/setup.py
  tools/packages/taipy/setup.py
Labels: 🖧 Devops, 🟧 Priority: High, dependencies

#1956 use taipy resource handler route to resolve cookies
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/cookieHandler.ts
  frontend/taipy-gui/base/src/index-preview.ts
  frontend/taipy-gui/base/src/index.ts
  frontend/taipy-gui/base/src/packaging/taipy-gui-base.d.ts
  frontend/taipy-gui/base/webpack.config.js
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
  frontend/taipy-gui/webpack.config.js
Labels: 🖰 GUI, Gui: Back-End

#1997 scenario dialog delete button
  frontend/taipy/src/ScenarioSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1993 Support event listener through Hooks
  taipy/gui/_event_context_manager.py
  taipy/gui/_hook.py
  taipy/gui/_renderers/builder.py
  taipy/gui/gui.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/_evaluator.py
  taipy/gui/utils/callable.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_context.py
  tests/gui/hooks/__init__.py
  tests/gui/hooks/test_listener.py
Labels: 🟥 Priority: Critical, ✨New feature, 📝Release Notes, Gui: Back-End

#2015 Do I need glasses ?
  frontend/taipy/src/ScenarioSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2016 scenario dialog delete button (#1997)
  frontend/taipy/src/ScenarioSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2026 fix cli collision between host and client_url
  taipy/gui/_gui_cli.py
Labels: 💥Malfunction, 🟨 Priority: Medium

#2027 Handle multiple consecutive chart refresh
  frontend/taipy-gui/base/src/wsAdapter.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2032 backport fix for chart refresh issue #1992
  frontend/taipy-gui/base/src/wsAdapter.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1969 Move class attribute doc from the class docstring to each attribute d…
  taipy/gui/gui.py
  taipy/gui/icon.py
Labels: 📄 Documentation, 🖰 GUI, 🟩 Priority: Low

#2047 on_action params grouped
  taipy/gui/gui.py
  tests/gui/gui_specific/test_gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2049 Update INSTALLATION.md
  INSTALLATION.md
Labels: 📄 Documentation

#1940 Fix: Handled Typo errors in readme.md file
  README.md
Labels: 📄 Documentation, 🟩 Priority: Low

#1868 feature/#1858-add-s3-object-data-node
  taipy/core/config/data_node_config.py
  taipy/core/data/aws_s3.py
Labels: 🟧 Priority: High, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved

#2063 remove unwanted datanode filters
  taipy/common/config/config.pyi
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI

#2064 backport : remove unwanted datanode filters
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, Gui: Back-End

#2067 Error message on on_change when creating Scenarios in scenario_selector
  .github/workflows/frontend.yml
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy/jest.config.js
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/JobViewer.tsx
  frontend/taipy/src/NodeSelector.tsx
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/ScenarioSelector.spec.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils.ts
  frontend/taipy/test-config/Canvas.js
  frontend/taipy/test-config/createObjectUrl.js
  frontend/taipy/test-config/guiMock.js
  frontend/taipy/test-config/intersectionObserver.js
  frontend/taipy/test-config/jest.env.js
  frontend/taipy/test-config/nanoid.js
  taipy/gui_core/_context.py
  tools/frontend/hash_source.py
Labels: Core, 💥Malfunction, 🟧 Priority: High, Gui: Back-End

#1913 feature/enterprise/#398 external services integration preparation
  taipy/common/config/__init__.py
Labels: 📈 Improvement, 📄 Documentation, ⚙️Configuration, 🟨 Priority: Medium, Enterprise

#2085 Better column width management
  frontend/taipy-gui/.eslintrc.js
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2099 datanode properties load and refresh
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui_core/_context.py
  tests/gui_core/test_context_dn_properties.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2046 Refactor terminology: Updated 'Parameters' and 'Args' to 'Arguments' for consistency across the codebase.
  taipy/_run.py
  taipy/common/config/_config.py
  taipy/common/config/_config_comparator/_config_comparator.py
  taipy/common/config/config.py
  taipy/common/config/config.pyi
  taipy/core/_orchestrator/_dispatcher/_development_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/_repository/_abstract_repository.py
  taipy/core/common/_mongo_connector.py
  taipy/core/common/_utils.py
  taipy/core/config/core_section.py
  taipy/core/config/data_node_config.py
  taipy/core/config/job_config.py
  taipy/core/config/scenario_config.py
  taipy/core/config/task_config.py
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/mongo.py
  taipy/core/data/parquet.py
  taipy/core/job/job.py
  taipy/core/notification/core_event_consumer.py
  taipy/core/notification/event.py
  taipy/core/notification/notifier.py
  taipy/core/orchestrator.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  taipy/core/taipy.py
  taipy/core/task/task.py
  taipy/gui/_gui_section.py
  taipy/rest/api/resources/cycle.py
  taipy/rest/api/resources/datanode.py
  taipy/rest/api/resources/job.py
  taipy/rest/api/resources/scenario.py
  taipy/rest/api/resources/sequence.py
  taipy/rest/api/resources/task.py
  taipy/rest/rest.py
Labels: Core, 📄 Documentation, 🟩 Priority: Low, hacktoberfest, hacktoberfest - 100💎

#2110 Fix dead links in ReadMe
  README.md
  taipy/common/config/config.pyi
Labels: 💥Malfunction, 🟧 Priority: High

#2114 aggregate in a table that contains date column
  frontend/taipy-gui/base/src/packaging/package.json
  frontend/taipy-gui/dom/package.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/package.json
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy/package.json
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2119 Fix wrong Callable type
  tests/conftest.py
Labels: 🟥 Priority: Critical, 🧪Testing

#1958 correct typos and standardize the Readme
  README.md
Labels: 📄 Documentation, 🟩 Priority: Low

#1991 Time visual element
  doc/gui/examples/controls/time_analog_picker.py
  doc/gui/examples/controls/time_format.py
  doc/gui/examples/controls/time_simple.py
  doc/gui/examples/controls/time_styling.py
  frontend/taipy-gui/src/components/Taipy/TimeSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TimeSelector.tsx
  frontend/taipy-gui/src/components/Taipy/index.ts
  frontend/taipy-gui/src/utils/index.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/types.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/types.py
  taipy/gui/viselements.json
  tests/gui/control/test_time.py
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature, hacktoberfest, hacktoberfest - 200💎💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2115 Analogic for date component
  frontend/taipy-gui/src/components/Taipy/DateSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/control/test_date.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes, ✅ hacktoberfest: approved

#2116 Analogic for daterange
  frontend/taipy-gui/src/components/Taipy/DateRange.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/control/test_date_range.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, ✅ hacktoberfest: approved

#2018 Add css class to columns header
  doc/gui/examples/controls/column_name_styling.py
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.spec.ts
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 📈 Improvement, GUI: Front-End, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2123 do not calculate coverage on external PRs
  .github/workflows/frontend.yml
  .github/workflows/overall-tests.yml
Labels: Core, 📈 Improvement, 🖧 Devops, 🖰 GUI, 🟧 Priority: High

#2078 Implemented image upload on Chat
  doc/gui/examples/controls/chat_calculator.py
  doc/gui/examples/controls/chat_discuss.py
  doc/gui/examples/controls/chat_messages.py
  doc/gui/examples/controls/sample.jpeg
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature, 📝Release Notes, GUI: Front-End, hacktoberfest, hacktoberfest - 300💎💎💎, ✅ hacktoberfest: approved

#2087 #426 case insensitive filtering
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/components/icons/MatchCase.tsx
  taipy/gui/data/pandas_data_accessor.py
  tests/gui/data/test_pandas_data_accessor.py
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature, GUI: Front-End, Gui: Back-End, hacktoberfest, hacktoberfest - 200💎💎, ✅ hacktoberfest: approved, ⚔️ Quest

#1985 #1801 Added close a specific notification feature
  frontend/taipy-gui/src/components/Taipy/Alert.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
Labels: 🖰 GUI, 🟨 Priority: Medium, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2128 Add command line options for run_browser and dark_mode Gui.run() parameters
  taipy/gui/_gui_cli.py
  taipy/gui/config.py
  tests/gui/gui_specific/test_cli.py
Labels: 📈 Improvement, 🟩 Priority: Low, Gui: Back-End

#2134 Declare core gui viz elements in tgb if present
  taipy/gui_core/viselements.json
  tools/gui/generate_pyi.py
Labels: Core, 🖧 Devops, 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#2135 Backport: Declare core gui viz elements in tgb if present
  taipy/gui_core/viselements.json
  tools/gui/generate_pyi.py
Labels: Core, 💥Malfunction, 🟨 Priority: Medium, 📝Release Notes, Gui: Back-End

#2136 Prevent pre releases usage for pipenv
  Pipfile
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.9.max
Labels: 🟥 Priority: Critical, 💥Malfunction

#1975 Add AlertComponent for displaying alerts in the GUI
  doc/gui/examples/Alert.py
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/components/Taipy/Alert.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Alert.tsx
  frontend/taipy-gui/src/components/Taipy/Notification.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Notification.tsx
  frontend/taipy-gui/src/components/Taipy/index.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟨 Priority: Medium, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2153 Aggregate with date columns in data
  frontend/taipy-gui/base/src/packaging/package.json
  frontend/taipy-gui/dom/package.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/package.json
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy/package.json
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2154 Better column width management
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2151 Error on_change creating scenarios with scenario_selector
  taipy/gui_core/_context.py
Labels: 🟥 Priority: Critical, Core: Rest API, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2156 improve exception reporting in expressions
  taipy/gui/_page.py
  taipy/gui/_warnings.py
  taipy/gui/utils/_evaluator.py
  tests/gui/helpers.py
  tools/release/bump_version.py
Labels: 📈 Improvement, 🟧 Priority: High, Gui: Back-End

#2101 Adding a mock State class that can be instantiated and queried while testing
  taipy/gui/gui.py
  taipy/gui/mock/__init__.py
  taipy/gui/mock/mock_state.py
  taipy/gui/state.py
  tests/gui/actions/test_download.py
  tests/gui/mock/test_mock_state.py
Labels: 🟨 Priority: Medium, ✨New feature, 📝Release Notes, Gui: Back-End

#2155 Slight adjustment in the chat control doc.
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📄 Documentation, 💥Malfunction

#2170 Scenario Selector selection on creation
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2173 Support False value for MockState attribute
  taipy/gui/mock/mock_state.py
  tests/gui/mock/test_mock_state.py
Labels: 🟥 Priority: Critical, 🧪Testing, 💥Malfunction, Gui: Back-End

#2174 Backport Scenario Selector selection on creation
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2171 Table cell style not applied when columns refreshed with rebuild=True
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2147 Metric: Add support for None
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  tests/gui/builder/control/test_metric.py
  tests/gui/control/test_metric.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved

#2178 Backport: Table cell style not applied when columns refreshed with rebuild
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2182 datanode viewer show_properties
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/viselements.json
Labels: Core, 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟧 Priority: High, GUI: Front-End

#1974 Fix current page on menu
  doc/gui/examples/controls/menu_inactive.py
  doc/gui/examples/controls/menu_inactive_options.py
  doc/gui/examples/controls/menu_label.py
  doc/gui/examples/controls/menu_on_action.py
  doc/gui/examples/controls/menu_selected.py
  doc/gui/examples/controls/menu_simple.py
  frontend/taipy-gui/src/components/Taipy/Menu.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Menu.tsx
  frontend/taipy-gui/src/components/Taipy/MenuCtl.spec.tsx
  frontend/taipy-gui/src/components/Taipy/MenuCtl.tsx
  frontend/taipy-gui/src/components/Taipy/lovUtils.tsx
  frontend/taipy-gui/src/utils/lov.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 💬 Discussion

#2185 datanode viewer show_properties
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/viselements.json
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 📄 Documentation, 🖰 GUI, 📝Release Notes

#2077 Add Example for Slider Labels in Taipy GUI
  doc/gui/examples/controls/slider_labels_dictionary.py
Labels: 📄 Documentation, 🖰 GUI, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved

#2158 Usage examples for analogic option in date picker and date range
  doc/gui/examples/controls/date_range_with_time_analog_picker.py
  doc/gui/examples/controls/date_with_time_analog_picker.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟩 Priority: Low, ✅ hacktoberfest: approved

#1930 Added an example on how to integrate Matplotlib
  doc/gui/examples/charts/matplotlib/__init__.py
  doc/gui/examples/charts/matplotlib/builder.py
  doc/gui/examples/charts/matplotlib/markdown.py
Labels: 📄 Documentation, 🖰 GUI, 🟧 Priority: High, hacktoberfest, hacktoberfest - 300💎💎💎, ✅ hacktoberfest: approved
