Repository Avaiga/taipy, pull requests merged in 2024-07, with the labels that each got.

#1473 dialog is a block
  taipy/gui/viselements.json
  tests/gui/actions/test_invoke_callback.py
  tests/gui/builder/control/test_dialog.py
  tests/gui/gui_specific/test_broadcast.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1475 rebuild package-lock
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1476 support lambda in gui builder
  taipy/gui/builder/_api_generator.py
  taipy/gui/builder/_element.py
  taipy/gui/builder/_utils.py
  taipy/gui/utils/unparse.py
  tests/gui/builder/test_lambda.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1477 Decouple Acknowledgement
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/exports.ts
  frontend/taipy-gui/base/src/packaging/taipy-gui-base.d.ts
  frontend/taipy-gui/base/src/socket.ts
  frontend/taipy-gui/base/src/wsAdapter.ts
  taipy/gui/gui.py
Labels: 📈 Improvement

#1490 Fix - Update permission of manage stale issues action
  .github/workflows/manage-stale-issue-pr.yml
Labels: 🖧 Devops, 💥Malfunction

#1494 do not scroll while zooming on the DAG
  frontend/taipy/src/ScenarioDag.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1480 Feature/#393 - Creation time filtering for scenario getters
  taipy/core/scenario/_scenario_manager.py
  taipy/core/taipy.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/scenario/test_scenario_manager_with_sql_repo.py
  tests/core/test_taipy.py
Labels: ✨New feature, Core: 🎬 Scenario & Cycle

#1497 support on_action in tgb (with lambda)
  taipy/gui/builder/_element.py
  tests/gui/builder/test_on_action.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, Gui: Back-End

#1499 support lambda with dependencies
  taipy/gui/builder/_element.py
  taipy/gui/builder/_utils.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1505 support f-strings in lambda
  taipy/gui/builder/_element.py
  taipy/gui/gui.py
  taipy/gui/utils/_evaluator.py
  tests/gui/builder/test_lambda.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1474 Feature/#1196 - Add download and upload api for file-based datanodes
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/data/_tabular_datanode_mixin.py
  taipy/core/data/csv.py
  taipy/core/data/excel.py
  taipy/core/data/json.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  taipy/core/reason/__init__.py
  taipy/core/reason/reason.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_json_data_node.py
  tests/core/data/test_parquet_data_node.py
  tests/core/data/test_pickle_data_node.py
  tests/core/data/test_read_excel_data_node.py
Labels: ✨New feature, Core: Data node

#1507 add test cases for FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
Labels: 📈 Improvement, 🧪Testing, GUI: Front-End

#1509 Tests - Add unit tests for writing multi sheet excel with None
  tests/core/data/test_write_multiple_sheet_excel_data_node.py
Labels: 🧪Testing, Core: Data node

#1508 Unit test for Input component
  frontend/taipy-gui/src/components/Taipy/Input.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 🧪Testing, GUI: Front-End

#1523 Breaking change in typedoc-plugin-markdown v4
  frontend/taipy-gui/typedoc-mkdocs.json
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction, GUI: Front-End

#1514 Unit test for format conversion
  frontend/taipy-gui/src/utils/formatConversion.ts
  frontend/taipy-gui/src/utils/utils.spec.ts
Labels: 🧪Testing, GUI: Front-End

#1526 lambda in multiline context
  taipy/gui/builder/_element.py
  taipy/gui/builder/_utils.py
  tests/gui/builder/test_lambda.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1528 protect filter and sort from other stored locally configurations
  frontend/taipy/src/CoreSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1533 inactive file selector
  frontend/taipy-gui/src/components/Taipy/FileSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1530 table edit default behavior
  .github/workflows/frontend.yml
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  frontend/taipy-gui/src/components/Taipy/Login.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  taipy/gui/utils/table_col_builder.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_table.py
  tests/gui/control/test_table.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1536 Unit test for Alert
  frontend/taipy-gui/src/components/Taipy/Alert.spec.tsx
Labels: 🧪Testing, GUI: Front-End

#1551 filter with non identifier property names
  taipy/config/config.pyi
  taipy/config/stubs/generate_pyi.py
  taipy/core/config/data_node_config.py
  taipy/gui/gui.py
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1554 cycle sort by creation_date
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1558 truth value of a DataFrame is ambiguous
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1557 Unit test for taipyReducer
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
Labels: 🧪Testing, GUI: Front-End

#1563 lambda for extension components
  taipy/gui/builder/_utils.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1556 Refactor/#1472 - Update create cli command
  taipy/_cli/_create_cli.py
  taipy/_entrypoint.py
  taipy/templates/README.md
  taipy/templates/package_desc.md
  tests/cli/test_help_cli.py
  tests/templates/test_template_cli.py
Labels: 📈 Improvement, 📄 Documentation

#1562 Adapt to new doc structure
  taipy/gui/__init__.py
  taipy/gui/gui.py
  taipy/gui/icon.py
  taipy/gui/partial.py
  tools/gui/generate_pyi.py
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, 💥Malfunction

#1564 fullscreen return when width not 100%
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1565 Fix - Filter scenarios with creation_time should exclude the created_end_time
  taipy/core/scenario/_scenario_manager.py
  taipy/core/taipy.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/scenario/test_scenario_manager_with_sql_repo.py
Labels: 💥Malfunction, Core: 🎬 Scenario & Cycle

#1570 Fix broken link in ReadMe
  README.md
Labels: 💥Malfunction, 🟩 Priority: Low

#1561 Unit test for Dialog
  frontend/taipy-gui/src/components/Taipy/Dialog.spec.tsx
Labels: 🧪Testing, GUI: Front-End

#1573 Enhance Scenario Filters
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  taipy/gui_core/__init__.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End, Gui: Back-End

#1578 Add examples for the text control.
  doc/gui/examples/controls/text-format.py
  doc/gui/examples/controls/text-md.py
  doc/gui/examples/controls/text-pre.py
  doc/gui/examples/controls/text-simple.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 📄 Documentation, 🟧 Priority: High, Gui: Back-End

#1581 Prepare for Polars support
  doc/gui/examples/controls/text-md.py
  taipy/gui/.gitignore
  taipy/gui/data/data_accessor.py
  taipy/gui/data/data_format.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1555 feat: remove SQL repository
  taipy/core/_entity/_migrate/__init__.py
  taipy/core/_entity/_migrate/_migrate_sql.py
  taipy/core/_entity/_migrate_cli.py
  taipy/core/_repository/_base_taipy_model.py
  taipy/core/_repository/_sql_repository.py
  taipy/core/_repository/db/__init__.py
  taipy/core/_repository/db/_sql_base_model.py
  taipy/core/_repository/db/_sql_connection.py
  taipy/core/_version/_version_manager_factory.py
  taipy/core/_version/_version_model.py
  taipy/core/_version/_version_sql_repository.py
  taipy/core/cycle/_cycle_manager_factory.py
  taipy/core/cycle/_cycle_model.py
  taipy/core/cycle/_cycle_sql_repository.py
  taipy/core/data/_data_manager_factory.py
  taipy/core/data/_data_model.py
  taipy/core/data/_data_sql_repository.py
  taipy/core/job/_job_manager_factory.py
  taipy/core/job/_job_model.py
  taipy/core/job/_job_sql_repository.py
  taipy/core/scenario/_scenario_manager_factory.py
  taipy/core/scenario/_scenario_model.py
  taipy/core/scenario/_scenario_sql_repository.py
  taipy/core/submission/_submission_manager_factory.py
  taipy/core/submission/_submission_model.py
  taipy/core/submission/_submission_sql_repository.py
  taipy/core/task/_task_manager_factory.py
  taipy/core/task/_task_model.py
  taipy/core/task/_task_sql_repository.py
  tests/core/_entity/test_migrate_cli.py
  tests/core/conftest.py
  tests/core/cycle/test_cycle_manager_with_sql_repo.py
  tests/core/cycle/test_cycle_repositories.py
  tests/core/data/test_data_manager_with_sql_repo.py
  tests/core/data/test_data_repositories.py
  tests/core/job/test_job_manager_with_sql_repo.py
  tests/core/job/test_job_repositories.py
  tests/core/repository/mocks.py
  tests/core/repository/test_base_model.py
  tests/core/repository/test_repositories.py
  tests/core/scenario/test_scenario_manager_with_sql_repo.py
  tests/core/scenario/test_scenario_repositories.py
  tests/core/sequence/test_sequence_manager_with_sql_repo.py
  tests/core/submission/test_submission_manager_with_sql_repo.py
  tests/core/submission/test_submission_repositories.py
  tests/core/task/test_task_manager_with_sql_repo.py
  tests/core/task/test_task_repositories.py
  tests/core/test_core_cli_with_sql_repo.py
  tests/core/version/test_version_cli_with_sql_repo.py
  tests/core/version/test_version_repositories.py
Labels: Core, Core: Repository

#1583 still preparing for polar in enterprise
  taipy/gui/_renderers/builder.py
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/data/comparison.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/numpy_data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  tests/gui/data/test_array_dict_data_accessor.py
  tests/gui/data/test_pandas_data_accessor.py
Labels: 🟥 Priority: Critical, Gui: Back-End

#1584 fix accessors default edit function
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/numpy_data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  tests/gui/data/test_array_dict_data_accessor.py
  tests/gui/data/test_pandas_data_accessor.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1594 Improve core selector loading
  taipy/gui/_renderers/builder.py
  taipy/gui/types.py
  taipy/gui_core/_GuiCoreLib.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1596 Unit test for Chart components
  frontend/taipy-gui/src/components/Taipy/Chart.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🧪Testing, GUI: Front-End

#1601 Set 'displaylogo' to false by default in the plotConfig setting.
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 📈 Improvement, 🟨 Priority: Medium, 📝Release Notes, GUI: Front-End

#1610 handle dynamic value for selected
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1604 Fix/#1602 - Wait with no timeout should wait indefinitely
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  taipy/core/taipy.py
  taipy/core/task/task.py
  tests/core/_orchestrator/test_orchestrator__submit.py
  tests/core/_orchestrator/test_orchestrator__submit_task.py
Labels: 💥Malfunction, Core: 🎬 Scenario & Cycle

#1598 Check if taipy.css can be used
  taipy/gui/gui.py
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature, 📝Release Notes
