Repository Avaiga/taipy, pull requests merged in 2024-03, with the labels that each got.

#906 GUI: Revert types file name
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/_renderers/utils.py
  taipy/gui/_warnings.py
  taipy/gui/data/decimator/rdp.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/extension/__init__.py
  taipy/gui/extension/library.py
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/setup.py
  taipy/gui/types.py
  taipy/gui/utils/boolean.py
  taipy/gui/utils/chart_config_builder.py
Labels: 🖧 Devops, Gui: Back-End

#885 :zap: replace multiprocessing.Lock by threading.Lock
  taipy/core/_orchestrator/_dispatcher/_task_function_wrapper.py
  taipy/core/_orchestrator/_orchestrator.py
  tests/core/version/test_production_version_migration.py
Labels: Core, 📈 Improvement, 🟨 Priority: Medium, Core: Job & Orchestrator

#907 GUI: Update login close action
  frontend/taipy-gui/src/components/Taipy/Login.tsx
Labels: 📈 Improvement, 🖰 GUI

#909 Clean config block/unblock traces
  taipy/config/common/_config_blocker.py
  taipy/core/_core.py
Labels: Core, 🟥 Priority: Critical, 🖧 Devops

#913 Bug in retrieving literal value to represent
  frontend/taipy/src/DataNodeViewer.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#934 Add a full screen button to chart
  frontend/taipy-gui/dom/package.json
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/package.json
  frontend/taipy-gui/public/stylekit/controls/chart.css
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy/package.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#935 GUI: Allow dict update on custom frontend (#932)
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#938 add on_action(state, entity) to scenario_dag
  frontend/taipy/package-lock.json
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/projectstorm/NodeWidget.tsx
  frontend/taipy/src/projectstorm/models.ts
  frontend/taipy/src/utils/diagram.ts
  frontend/taipy/src/utils/types.ts
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#941 GUI: Fix decimator zoom by single axis (#712)
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/data/utils.py
Labels: 💥Malfunction, 📝Release Notes

#915 align core service logs
  taipy/core/_core.py
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
Labels: Core, 📈 Improvement, 🟨 Priority: Medium

#942 feat: make coverage a separate job
  .github/workflows/overall-tests.yml
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High

#944 table csv download
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#939 Move specific attributes from job_dispatcher to standalone job dispatcher
  taipy/core/_orchestrator/_abstract_orchestrator.py
  taipy/core/_orchestrator/_dispatcher/_development_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/job/_job_manager.py
  tests/core/_entity/test_migrate_cli.py
  tests/core/_orchestrator/_dispatcher/mock_standalone_dispatcher.py
  tests/core/_orchestrator/_dispatcher/test_development_job_dispatcher.py
  tests/core/_orchestrator/_dispatcher/test_dispatcher__execute_job.py
  tests/core/_orchestrator/_dispatcher/test_standalone_job_dispatcher.py
  tests/core/_orchestrator/_dispatcher/test_task_function_wrapper.py
  tests/core/_orchestrator/test_orchestrator.py
  tests/core/_orchestrator/test_orchestrator__cancel_jobs.py
  tests/core/job/test_job_manager.py
  tests/core/job/test_job_manager_with_sql_repo.py
Labels: Core, 📈 Improvement, 🟩 Priority: Low, Core: Job & Orchestrator

#946 file_selector notify property (default True)
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/_renderers/json.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#948 table cell action when value is a button
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 💥Malfunction, ✨New feature, 📝Release Notes, GUI: Front-End

#952 datanode update data
  frontend/taipy/src/DataNodeViewer.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#956 backport: datanode update data
  frontend/taipy/src/DataNodeViewer.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#958 no error when the column desc is undefined
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#960 no error when the column desc is undefined (#958)
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#962 Extensible CustomPage class (#961)
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/index.ts
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
  taipy/gui/custom/_page.py
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/server.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#617 Updated utils.py for better warning messages
  taipy/gui/_renderers/utils.py
Labels: 🖰 GUI

#967 better message on column not found
  taipy/core/_orchestrator/_orchestrator.py
  taipy/gui/_renderers/utils.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#966 Allow auto port assignment (#687)
  taipy/gui/config.py
  taipy/gui/server.py
Labels: ✨New feature, 📝Release Notes

#970 Support file reloading on notebook (#460)
  Pipfile
  taipy/gui/_renderers/__init__.py
  taipy/gui/_renderers/utils.py
  taipy/gui/page.py
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-gui/setup.requirements.txt
Labels: ✨New feature, 📝Release Notes

#973 Support relative file path for Page (#425)
  taipy/gui/_renderers/__init__.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#974 detect encoding on file read (#458)
  Pipfile
  taipy/gui/_renderers/__init__.py
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-gui/setup.requirements.txt
Labels: 📈 Improvement, 📝Release Notes

#977 prevent react key message
  frontend/taipy-gui/src/components/pages/TaipyRendered.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#976 Client Notebook Auto Reload (#975)
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
  taipy/gui/_renderers/__init__.py
  taipy/gui/_renderers/utils.py
  taipy/gui/gui.py
  taipy/gui/page.py
Labels: 📈 Improvement, 🖰 GUI, 📝Release Notes

#978 Access all elements from the root of Builder API (#418)
  taipy/gui/builder/_api_generator.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#964 Clean C405 rule for codestyle
  pyproject.toml
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/notification/event.py
  tests/core/config/test_scenario_config.py
  tests/core/conftest.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/sequence/test_sequence_manager.py
  tests/core/task/test_task_manager.py
Labels: 📈 Improvement, 🟩 Priority: Low

#984 Fix MapDict refresh error (#464)
  taipy/gui/utils/_bindings.py
Labels: 🖰 GUI

#986 Add Upload Folder as CLI argument (#969)
  taipy/gui/_gui_cli.py
  taipy/gui/config.py
Labels: 📈 Improvement, 📝Release Notes

#971 feat: replace python-linter with mypy specific action
  .github/workflows/partial-tests.yml
  mypy.ini
Labels: 🖧 Devops

#995 Submission for Quest 007: YoutubeSummarizerBot
  Quine Package Quests/YoutubeSummarizerBot-Taipy/.gitignore
  Quine Package Quests/YoutubeSummarizerBot-Taipy/README.md
  Quine Package Quests/YoutubeSummarizerBot-Taipy/__init__.py
  Quine Package Quests/YoutubeSummarizerBot-Taipy/ai_utils.py
  Quine Package Quests/YoutubeSummarizerBot-Taipy/main.css
  Quine Package Quests/YoutubeSummarizerBot-Taipy/main.py
  Quine Package Quests/YoutubeSummarizerBot-Taipy/requirements.txt
Labels: Hackathon submission

#996 Quine Quest 007 Submission - Crypto Mate
  Quine Package Quests/CryptoMate/README.md
  Quine Package Quests/CryptoMate/crypto.py
  Quine Package Quests/CryptoMate/dataset/Cryptocurrency_Dataset_2023.csv
  Quine Package Quests/CryptoMate/requirements.txt
Labels: Hackathon submission

#1000 repo details for quest submission protectlife
  Quine Package Quests/quine-quest-taipy-protectlife
Labels: Hackathon submission

#1002 🥗 [QUINE.SH] Quest Code Submission ~ ` world_population `
  Quine Package Quests/world-population/.gitignore
  Quine Package Quests/world-population/.python-version
  Quine Package Quests/world-population/README.md
  Quine Package Quests/world-population/data.csv
  Quine Package Quests/world-population/demo/compare_countries.png
  Quine Package Quests/world-population/demo/country.png
  Quine Package Quests/world-population/demo/dataset.png
  Quine Package Quests/world-population/demo/insights.png
  Quine Package Quests/world-population/demo/mobile_menu.png
  Quine Package Quests/world-population/demo/pie.jpeg
  Quine Package Quests/world-population/demo/top_countries_in_continent.png
  Quine Package Quests/world-population/demo/total_population.png
  Quine Package Quests/world-population/main.py
  Quine Package Quests/world-population/pages/compare_countries.md
  Quine Package Quests/world-population/pages/compare_countries.py
  Quine Package Quests/world-population/pages/country_overview.md
  Quine Package Quests/world-population/pages/country_overview.py
  Quine Package Quests/world-population/pages/dataset.md
  Quine Package Quests/world-population/pages/dataset.py
  Quine Package Quests/world-population/pages/insights.md
  Quine Package Quests/world-population/pages/insights.py
  Quine Package Quests/world-population/pages/pie.md
  Quine Package Quests/world-population/pages/pie.py
  Quine Package Quests/world-population/pages/top_countries_in_continent.md
  Quine Package Quests/world-population/pages/top_countries_in_continent.py
  Quine Package Quests/world-population/pages/total_population.md
  Quine Package Quests/world-population/pages/total_population.py
  Quine Package Quests/world-population/requirements.txt
Labels: Hackathon submission

#1007 Refactor - Cleaner Code & Stability
  taipy/core/_entity/submittable.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/_repository/_sql_repository.py
  taipy/core/_repository/db/_sql_connection.py
  taipy/core/_version/_utils.py
  taipy/core/_version/_version_manager.py
  taipy/core/_version/_version_mixin.py
  taipy/core/common/_utils.py
  taipy/core/config/checkers/_config_id_checker.py
  taipy/core/config/checkers/_data_node_config_checker.py
  taipy/core/config/checkers/_scenario_config_checker.py
  taipy/core/config/checkers/_task_config_checker.py
  taipy/core/config/data_node_config.py
  taipy/core/config/job_config.py
  taipy/core/config/scenario_config.py
  taipy/core/cycle/cycle.py
  taipy/core/data/_abstract_sql.py
  taipy/core/data/_data_manager.py
  taipy/core/data/_filter.py
  taipy/core/data/aws_s3.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/generic.py
  taipy/core/data/mongo.py
  taipy/core/job/_job_manager.py
  taipy/core/notification/_topic.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/sequence/_sequence_manager.py
  taipy/core/submission/submission.py
  taipy/core/task/task.py
  taipy/gui/_renderers/factory.py
  taipy/gui/extension/library.py
  taipy/gui/gui.py
  taipy/gui/utils/_evaluator.py
  taipy/gui/utils/html.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/rest/api/resources/cycle.py
  taipy/rest/api/resources/datanode.py
  taipy/rest/api/resources/job.py
  taipy/rest/api/resources/scenario.py
  taipy/rest/api/resources/sequence.py
  taipy/rest/api/resources/task.py
  taipy/rest/commons/apispec.py
  taipy/rest/commons/encoder.py
Labels: 📈 Improvement

#972 feature/#922 remove backup mechanism
  taipy/core/README.md
  taipy/core/_backup/__init__.py
  taipy/core/_backup/_backup.py
  taipy/core/_core.py
  taipy/core/data/_data_manager.py
  taipy/core/data/csv.py
  taipy/core/data/excel.py
  taipy/core/data/json.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  tests/core/_backup/__init__.py
  tests/core/_backup/test_backup.py
Labels: Core, 🖧 Devops, ☁️ Cloud

#1017 Hotfix 3.1.1 - Update config.pyi
  taipy/config/config.pyi
Labels: ⚙️Configuration, 💥Malfunction, Core: ⚙️ Configuration

#1015 Fix/#1014 - Update config.pyi workflow
  .github/workflows/check-config-pyi.yml
  taipy/config/config.pyi
  taipy/config/stubs/generate_pyi.py
  taipy/config/stubs/pyi_header.py
Labels: 🖧 Devops, ⚙️Configuration, 💥Malfunction, Core: ⚙️ Configuration

#1004 Quest 007 Hackathon Submission
  Quine Package Quests/ArtistFinder/Index.html
  Quine Package Quests/ArtistFinder/README.md
  Quine Package Quests/ArtistFinder/index.js
  Quine Package Quests/ArtistFinder/pkg.json
  Quine Package Quests/ArtistFinder/style.css
Labels: Hackathon submission

#1005 Quest 007-Submission
  Quine Package Quests/Face_Recognition/README.md
  Quine Package Quests/Face_Recognition/face_dataset.py
  Quine Package Quests/Face_Recognition/face_recognition.py
  Quine Package Quests/Face_Recognition/training.py
Labels: Hackathon submission

#1008 Hackathon - Submission of project "olympic medals" for Quest - 007
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/LICENSE
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/README.md
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/img/YT.png
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/data/olympic_cities.csv
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/data/olympic_medals.csv
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/main.py
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/pages/all_time_medals.py
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/pages/medals_by_committee.py
  Quine Package Quests/enarroied/taipy-submission-quest-olympic-medals/src/requirements.txt
Labels: Hackathon submission

#1010 Quest 007 Submission: ⚡FuelFree🌿🌎🚲
  Quine Package Quests/FuelFree/.gitignore
  Quine Package Quests/FuelFree/README.md
  Quine Package Quests/FuelFree/chat.py
  Quine Package Quests/FuelFree/country_codes.csv
  Quine Package Quests/FuelFree/data.csv
  Quine Package Quests/FuelFree/data.py
  Quine Package Quests/FuelFree/fossildata.py
  Quine Package Quests/FuelFree/graphs.py
  Quine Package Quests/FuelFree/images/CP.jpg
  Quine Package Quests/FuelFree/images/CP.png
  Quine Package Quests/FuelFree/images/ES.jpeg
  Quine Package Quests/FuelFree/images/EV.jpg
  Quine Package Quests/FuelFree/images/FuelFree.png
  Quine Package Quests/FuelFree/images/OE.jpg
  Quine Package Quests/FuelFree/images/bus.jpg
  Quine Package Quests/FuelFree/images/oddeven.jpg
  Quine Package Quests/FuelFree/images/office.jpg
  Quine Package Quests/FuelFree/images/read.png
  Quine Package Quests/FuelFree/main.py
  Quine Package Quests/FuelFree/pages/carbonemissions.md
  Quine Package Quests/FuelFree/pages/carbonemissions.py
  Quine Package Quests/FuelFree/pages/carbonfootprint.md
  Quine Package Quests/FuelFree/pages/carbonfootprint.py
  Quine Package Quests/FuelFree/pages/greenzone.py
  Quine Package Quests/FuelFree/pages/oddeven.py
  Quine Package Quests/FuelFree/pages/transport.py
  Quine Package Quests/FuelFree/per-capita-fossil-energy-vs-gdp.csv
  Quine Package Quests/FuelFree/requirements.txt
  Quine Package Quests/FuelFree/test.csv
Labels: Hackathon submission

#959 fix: migration cli failing when theres no pipelines
  taipy/core/_entity/_migrate/_utils.py
  taipy/core/_version/_version_manager.py
  taipy/core/exceptions/exceptions.py
  tests/core/_entity/data_sample_migrated/tasks/TASK_evaluate_57cbea3b-332e-47ac-a468-472e4885eb82.json
  tests/core/_entity/data_sample_migrated/tasks/TASK_predict_cf8b3c83-5ea7-40eb-b8af-d5240852ff5b.json
  tests/core/_entity/data_sample_migrated/version/b11ea9f9-b2d7-4b58-a1c2-c6b1700bed97.json
  tests/core/_entity/data_to_migrate.json
  tests/core/_entity/expected_data.json
  tests/core/_entity/test_migrate_cli.py
  tests/core/_entity/test_migrate_utils.py
Labels: Core, 🖧 Devops, 💥Malfunction

#1026 Feature/#865 - Modify the default value of max_nb_of_workers on standalone mode to 2
  taipy/config/config.pyi
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/config/job_config.py
  tests/core/_orchestrator/_dispatcher/test_standalone_job_dispatcher.py
  tests/core/_orchestrator/test_orchestrator_factory.py
  tests/core/config/test_config_serialization.py
  tests/core/config/test_job_config.py
  tests/core/config/test_override_config.py
  tests/core/test_core_cli.py
  tests/core/test_core_cli_with_sql_repo.py
  tests/core/test_taipy.py
Labels: 📈 Improvement, 💥Malfunction, Core: ⚙️ Configuration, Core: Job & Orchestrator

#1021 Hackathon submission taipy by kisharnath
  Quine Package Quests/earthquake-visualization-app-bykisharnath/README.md
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/.taipy/version.json
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/.taipy/version/a92c5d47-3cc3-4b0f-a07a-f52bcccaa6c4.json
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/app.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/data/data.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/data/earthquake_1995-2023.csv
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/data/earthquake_data.csv
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/country/country.md
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/country/country.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/map/map.md
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/map/map.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/root.md
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/root.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/world/world.md
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/pages/world/world.py
  Quine Package Quests/earthquake-visualization-app-bykisharnath/src/requirements.txt
Labels: Hackathon submission

#1028 Hackathon Submission
  Quine Package Quests/Movie-Analysis-Taipy/README.md
  Quine Package Quests/Movie-Analysis-Taipy/main.py
  Quine Package Quests/Movie-Analysis-Taipy/requirements.txt
  Quine Package Quests/Movie-Analysis-Taipy/script.py
  Quine Package Quests/Movie-Analysis-Taipy/sentiment.py
Labels: Hackathon submission

#1025 Hackathon
  Quine Package Quests/movie_suggestions/my-search-app/README.md
  Quine Package Quests/movie_suggestions/my-search-app/app/components/SearchBar.jsx
  Quine Package Quests/movie_suggestions/my-search-app/app/favicon.ico
  Quine Package Quests/movie_suggestions/my-search-app/app/globals.css
  Quine Package Quests/movie_suggestions/my-search-app/app/layout.js
  Quine Package Quests/movie_suggestions/my-search-app/app/page.js
  Quine Package Quests/movie_suggestions/my-search-app/jsconfig.json
  Quine Package Quests/movie_suggestions/my-search-app/next.config.mjs
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@alloc/quick-lru/index.d.ts
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@alloc/quick-lru/index.js
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@alloc/quick-lru/license
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@alloc/quick-lru/package.json
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@alloc/quick-lru/readme.md
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/LICENSE.txt
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/README.md
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/build/index.cjs
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/build/index.d.cts
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/build/lib/index.js
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/index.mjs
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@isaacs/cliui/package.json
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@jridgewell/gen-mapping/LICENSE
  Quine Package Quests/movie_suggestions/my-search-app/node_modules/@jridgewell/gen-mapping/README.md
Labels: Hackathon submission

#1031 table comparison
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/utils/hooks.ts
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/builder.py
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/data/comparison.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/numpy_data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#951 Test/integration testing
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/_repository/_sql_repository.py
  taipy/core/_repository/db/_sql_connection.py
  taipy/core/job/job.py
  taipy/core/submission/submission.py
  taipy/logger/_taipy_logger.py
  tests/core/_orchestrator/_dispatcher/mock_standalone_dispatcher.py
  tests/core/_orchestrator/_dispatcher/test_standalone_job_dispatcher.py
  tests/core/_orchestrator/test_orchestrator__cancel_jobs.py
  tests/core/_orchestrator/test_orchestrator_factory.py
  tests/core/config/test_override_config.py
  tests/core/conftest.py
  tests/core/job/test_job_manager.py
Labels: Core, 🧪Testing, 🟧 Priority: High, Core: Job & Orchestrator

#1023 Backport migration cli fix to develop
  taipy/core/_entity/_migrate/_utils.py
  taipy/core/_version/_version_manager.py
  taipy/core/exceptions/exceptions.py
  tests/core/_entity/data_sample_migrated/tasks/TASK_evaluate_57cbea3b-332e-47ac-a468-472e4885eb82.json
  tests/core/_entity/data_sample_migrated/tasks/TASK_predict_cf8b3c83-5ea7-40eb-b8af-d5240852ff5b.json
  tests/core/_entity/data_sample_migrated/version/b11ea9f9-b2d7-4b58-a1c2-c6b1700bed97.json
  tests/core/_entity/data_to_migrate.json
  tests/core/_entity/expected_data.json
  tests/core/_entity/test_migrate_cli.py
  tests/core/_entity/test_migrate_utils.py
Labels: Core, 💥Malfunction

#1033 support numpy types
  taipy/gui/_renderers/json.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1039 Clean C408 rule for codestyle
  pyproject.toml
  taipy/config/section.py
  taipy/core/config/checkers/_config_id_checker.py
  taipy/core/config/core_section.py
  taipy/core/config/scenario_config.py
  taipy/core/data/_filter.py
  taipy/core/data/excel.py
  taipy/core/taipy.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  tests/core/conftest.py
  tests/core/cycle/test_cycle.py
  tests/core/data/test_data_node.py
  tests/core/scenario/test_scenario.py
  tests/core/sequence/test_sequence.py
  tests/core/submission/test_submission.py
  tests/core/task/test_task.py
  tests/gui/server/http/test_extension.py
  tests/templates/utils.py
Labels: 📈 Improvement

#1035 Fix/#497 - Unique section init should not use default values
  taipy/config/config.pyi
  taipy/core/config/checkers/_job_config_checker.py
  taipy/core/config/core_section.py
  taipy/core/config/job_config.py
  tests/core/_orchestrator/test_orchestrator_factory.py
  tests/core/config/checkers/test_core_section_checker.py
  tests/core/config/checkers/test_job_config_checker.py
  tests/core/config/test_job_config.py
  tests/core/config/test_override_config.py
Labels: 📈 Improvement, 💥Malfunction, Core: ⚙️ Configuration

#1045 fix datanode date error
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/DateRange.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TreeView.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeViewer.tsx
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1046 Backport: fix datanode date error
  frontend/taipy/src/DataNodeViewer.tsx
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1049 Update expandable default property (#993)
  taipy/gui/viselements.json
Labels: 🖰 GUI

#1050 Backport: Expandable default property
  taipy/gui/viselements.json
Labels: 🖰 GUI, 💥Malfunction, 🟨 Priority: Medium

#1053 Fix - Simplify core cli tests
  tests/core/test_core_cli.py
  tests/core/test_core_cli_with_sql_repo.py
Labels: 📈 Improvement, Core: Job & Orchestrator

#1057 test table refresh
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#863 feature/ added retry to save and load entity in sql repo
  taipy/core/_repository/_filesystem_repository.py
  taipy/core/_repository/_sql_repository.py
  taipy/core/_repository/db/_sql_connection.py
  taipy/core/common/_utils.py
  taipy/core/exceptions/exceptions.py
  tests/core/common/test_retry.py
Labels: Core, 🟨 Priority: Medium, Core: Repository

#1058 add traces to track None submission
  taipy/core/_orchestrator/_orchestrator.py
Labels: Core, 🟥 Priority: Critical, 🧪Testing, Core: Job & Orchestrator
