Repository Avaiga/taipy, pull requests merged in 2024-04, with the labels that each got.

#1084 Backport / Access all elements from the root of Builder API (#418) (#978)
  taipy/gui/builder/_api_generator.py
Labels: 🖰 GUI

#1107 chart: do not show warning on no data bound when figure is declared
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1144 chart: do not show warning on no data bound when figure is declared
  frontend/taipy-gui/dom/package.json
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/package.json
  frontend/taipy/package.json
  taipy/gui/_renderers/builder.py
  taipy/gui/version.json
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1109 Fix - Failing update dependencies action
  .github/scripts/link-workflow-to-pr.js
  .github/scripts/run-workflow.js
  .github/workflows/dependencies-management.yml
  .github/workflows/overall-tests.yml
Labels: 📈 Improvement, 🖧 Devops, dependencies

#1089 link-changed
  README.md
Labels: 📄 Documentation, 🟧 Priority: High

#1161 fix: add numpy to pipfile
  Pipfile
Labels: 🟥 Priority: Critical, 🖧 Devops, dependencies

#1090 Feature - Update deepdiff dependency version
  Pipfile
  taipy/config/setup.py
  tools/packages/taipy-config/setup.requirements.txt
Labels: 📈 Improvement, 🖧 Devops

#1193 Removing useless type annotation
  taipy/config/_config.py
  taipy/config/_config_comparator/_config_comparator.py
  taipy/config/checker/issue_collector.py
  taipy/config/config.pyi
  taipy/core/_core.py
  taipy/core/_entity/_entity_ids.py
  taipy/core/_entity/_reload.py
  taipy/core/_version/_version_fs_repository.py
  taipy/core/_version/_version_sql_repository.py
  taipy/core/config/task_config.py
  taipy/core/cycle/_cycle_fs_repository.py
  taipy/core/cycle/_cycle_sql_repository.py
  taipy/core/data/_data_fs_repository.py
  taipy/core/data/_data_sql_repository.py
  taipy/core/data/data_node.py
  taipy/core/job/_job_fs_repository.py
  taipy/core/job/_job_sql_repository.py
  taipy/core/notification/core_event_consumer.py
  taipy/core/scenario/_scenario_fs_repository.py
  taipy/core/scenario/_scenario_sql_repository.py
  taipy/core/submission/_submission_fs_repository.py
  taipy/core/submission/_submission_sql_repository.py
  taipy/core/submission/submission.py
  taipy/core/task/_task_fs_repository.py
  taipy/core/task/_task_manager.py
  taipy/core/task/_task_sql_repository.py
  taipy/core/task/task.py
  taipy/gui/_page.py
  taipy/gui/_renderers/json.py
  taipy/gui/builder/_api_generator.py
  taipy/gui/builder/_context_manager.py
  taipy/gui/builder/_element.py
  taipy/gui/config.py
  taipy/gui/utils/_adapter.py
  taipy/gui/utils/_runtime_manager.py
  taipy/rest/api/exceptions/exceptions.py
  taipy/rest/app.py
  taipy/rest/rest.py
  tests/core/notification/test_events_published.py
  tests/gui/e2e/page_scopes/assets2_class_scopes/page1.py
  tests/gui/e2e/page_scopes/assets2_class_scopes/page2.py
Labels: Core, 📈 Improvement, 🖰 GUI, 🟩 Priority: Low

#1148 bug/ data model not deserialize parent_ids
  taipy/core/data/_data_model.py
  taipy/core/task/task.py
  tests/core/cycle/test_cycle_repositories.py
  tests/core/data/test_data_repositories.py
  tests/core/scenario/test_scenario_repositories.py
  tests/core/task/test_task_repositories.py
Labels: 💥Malfunction, Core: Repository

#1093 Feature - Expanding the `export_scenario()` api
  taipy/core/_manager/_manager.py
  taipy/core/_repository/_filesystem_repository.py
  taipy/core/data/_data_manager.py
  taipy/core/exceptions/exceptions.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/_sequence_manager.py
  taipy/core/taipy.py
  tests/core/repository/test_repositories.py
  tests/core/test_taipy.py
  tests/core/test_taipy/test_export.py
  tests/core/test_taipy/test_export_with_sql_repo.py
Labels: Core, 📈 Improvement

#1195 manage lov type dynamically
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui/types.py
  taipy/gui/utils/_adapter.py
  tests/gui/builder/control/test_menu.py
  tests/gui/builder/control/test_navbar.py
  tests/gui/builder/control/test_selector.py
  tests/gui/builder/control/test_toggle.py
  tests/gui/control/test_menu.py
  tests/gui/control/test_navbar.py
  tests/gui/control/test_selector.py
  tests/gui/control/test_toggle.py
  tests/gui/gui_specific/test_expression.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1220 Fix - Remove the dependency of intermitten-tests and overall-tests on coverage step
  .github/workflows/overall-tests.yml
Labels: 🧪Testing, 🖧 Devops

#1219 select newly created scenario
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Menu.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/pages/TaipyRendered.tsx
  frontend/taipy-gui/src/utils/index.ts
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/utils.ts
  taipy/gui/_renderers/json.py
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1226 fix: replace macos latest with macos-13 due to latest not supporting …
  .github/actions/install/action.yml
  .github/workflows/frontend.yml
  .github/workflows/overall-tests.yml
  .github/workflows/packaging.yml
  .github/workflows/partial-tests.yml
  .github/workflows/publish.yml
Labels: 🧪Testing, 🖧 Devops

#1078 Refactor - All file-based datanode should have consistent default data writing behavior
  taipy/core/_entity/_properties.py
  taipy/core/data/_abstract_file.py
  taipy/core/data/_abstract_sql.py
  taipy/core/data/_data_manager.py
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/data/_tabular_datanode_mixin.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/json.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  taipy/gui_core/_context.py
  tests/core/_orchestrator/_dispatcher/test_dispatcher__needs_to_run.py
  tests/core/_orchestrator/test_orchestrator__submit.py
  tests/core/_orchestrator/test_orchestrator__submit_task.py
  tests/core/conftest.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_data_manager.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_json_data_node.py
  tests/core/data/test_parquet_data_node.py
  tests/core/data/test_pickle_data_node.py
Labels: 📈 Improvement, Core: Data node

#1230 use the version of plotly that works (2.32.0)
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1227 feature/#1099 added check instance types in equal functions
  taipy/core/cycle/cycle.py
  taipy/core/data/data_node.py
  taipy/core/job/job.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  taipy/core/submission/submission.py
  taipy/core/task/task.py
  tests/core/conftest.py
  tests/core/cycle/test_cycle.py
  tests/core/data/test_data_node.py
  tests/core/job/test_job.py
  tests/core/scenario/test_scenario.py
  tests/core/sequence/test_sequence.py
  tests/core/submission/test_submission.py
  tests/core/task/test_task.py
Labels: Core, 📈 Improvement

#1236 Fix/#1091 - Incorrect json schema
  taipy/core/config/config.schema.json
  tests/core/config/test_config_schema.py
Labels: 🧪Testing, 💥Malfunction, Core: ⚙️ Configuration

#1228 Fix/#1202 - Catch cookiecutter.OutputDirExistsException and exit
  taipy/_cli/_scaffold_cli.py
  tests/templates/test_template_cli.py
Labels: Core, 📈 Improvement

#1237 refresh data by requesting specific variables with context
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/pages/TaipyRendered.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/utils.ts
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/extension/library.py
  taipy/gui/gui.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#1042 Feature/#392 - Sort mechanism for `get_primary_scenarios()` and `get_scenarios()` API
  contributors.txt
  taipy/core/scenario/_scenario_manager.py
  taipy/core/taipy.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/test_taipy.py
Labels: ✨New feature, Core: 🎬 Scenario & Cycle

#1245 scenario selector list of scenarios
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/gui.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#1246 allow multi selection in scenario selector and datanode selector
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/NodeSelector.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui/_renderers/json.py
  taipy/gui/extension/library.py
  taipy/gui/gui.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/types.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/gui/extension/test_library.py
Labels: Core, 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#1229 Fixed File Upload Notification
  frontend/taipy-gui/src/workers/fileupload.worker.ts
Labels: 🖰 GUI, 💥Malfunction
