Repository Avaiga/taipy, pull requests merged in 2024-06, with the labels that each got.

#1349 Updating stylekit & hover_text
  frontend/taipy-gui/public/stylekit/controls/metric.css
  frontend/taipy-gui/public/stylekit/stylekit.css
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
Labels: 📈 Improvement, GUI: Front-End

#1346 chart disappears on refresh
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#1321 Metric format converter
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  frontend/taipy-gui/src/utils/formatConversion.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/e2e/test_metric_indicator.py
Labels: 🖰 GUI, ✨New feature

#1354 manage multi trace selection when on selected variable is binded
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#1345 Implement fullwidth styling to FileSelector and FileDownload
  frontend/taipy-gui/public/stylekit/controls/file_download.css
  frontend/taipy-gui/public/stylekit/controls/file_selector.css
  frontend/taipy-gui/public/stylekit/stylekit.css
Labels: 📈 Improvement, 🖰 GUI

#1360 When no cycle are used in the scenario configs ...
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
Labels: Core, 📈 Improvement, 🟧 Priority: High, 📝Release Notes, Gui: Back-End

#1358 Change required fields and markdown for screenshots
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/ISSUE_TEMPLATE/refactor-code.yml
Labels: 🖧 Devops, 📄 Documentation

#1371 Fix Acceptance Criteria section
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/refactor-code.yml
Labels: 📄 Documentation

#1377 BUG: handle non multiple selection
  frontend/taipy/src/CoreSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1372 datanode selector filter, sort and search
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/NodeSelector.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#1364 Adding theme for metric
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  frontend/taipy-gui/src/themes/darkThemeTemplate.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, GUI: Front-End

#1381 scenario tags edit
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1382 filter UI on boolean col
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  taipy/gui_core/_adapters.py
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1370 Get Routes with type frontend decouple
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/types.py
Labels: 🖰 GUI, ✨New feature, Gui: Back-End

#1384 scenario filter: handle iterable typed col
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1282 Remove hover_text from Indicator
  contributors.txt
  frontend/taipy-gui/src/components/Taipy/Indicator.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 💥Malfunction

#1355 Fix CRLF issue again (#1351)
  taipy/gui/_renderers/__init__.py
Labels: 🖰 GUI, 💥Malfunction

#1393 add submission indicator to scenario
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/StatusChip.tsx
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, GUI: Front-End, Gui: Back-End

#1356 [DOCS] Metric component examples
  doc/gui/examples/controls/metric-hide-value.py
  doc/gui/examples/controls/metric-layout.py
  doc/gui/examples/controls/metric-range.py
  doc/gui/examples/controls/metric-simple.py
  doc/gui/examples/controls/metric-type.py
  doc/gui/examples/controls/metric-value-format.py
  taipy/gui/viselements.json
Labels: 📄 Documentation, GUI: Front-End

#1404 Rewrite Partial Builder in Python API for Scenario Management Template
  taipy/templates/scenario-management/{{cookiecutter.__root_folder_name}}/pages/scenario_page/data_node_management.py
Labels: Core, 🖰 GUI

#1406 Selection of leaf datanode in datanode selector tree lov
  frontend/taipy/src/CoreSelector.tsx
  taipy/gui/utils/_adapter.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1412 Support for pandas TimeStamp
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils/diagram.ts
  taipy/gui/utils/date.py
  taipy/gui_core/_adapters.py
Labels: Core, 📈 Improvement, 🟧 Priority: High, Gui: Back-End

#1390 Feature/enterprise#362 - Add can_create() api
  taipy/config/_serializer/_base_serializer.py
  taipy/core/data/_data_manager.py
  taipy/core/reason/_reason_factory.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/taipy.py
  tests/core/data/test_data_manager.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/test_taipy.py
Labels: ✨New feature, Core: 🔔Notifications

#1414 Fix - import_scenario wasn't added to core _init
  taipy/core/_init.py
Labels: 💥Malfunction

#1421 Fix/doc#988 - Wrong ref link
  taipy/core/scenario/scenario.py
  taipy/core/taipy.py
Labels: 📄 Documentation, 💥Malfunction

#1425 call can_create to get the reason
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, ✨New feature

#1430 Bring progress up to Taipy standards
  frontend/taipy-gui/src/components/Taipy/Progress.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Progress.tsx
  frontend/taipy-gui/src/utils/hooks.ts
  taipy/gui/_renderers/factory.py
  taipy/gui_core/_context.py
  tests/gui/control/test_progress.py
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End, Gui: Back-End

#1427 Fix/#1418 - DataNode not found error appearing when creating data nodes with default_data
  taipy/core/data/csv.py
  taipy/core/data/excel.py
  taipy/core/data/json.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
Labels: 💥Malfunction

#1424 Add title for Metric.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🟧 Priority: High, ✨New feature, GUI: Front-End

#1434 Submission status update
  frontend/taipy-gui/src/utils/index.spec.ts
  frontend/taipy-gui/src/utils/index.ts
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/StatusChip.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1407 adding color-map property to Metric
  doc/gui/examples/controls/metric-color-map.py
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, GUI: Front-End

#1432 Refactor - Remove import_scenario export_scenario APIs
  taipy/core/_init.py
  taipy/core/_manager/_manager.py
  taipy/core/_version/_version_manager.py
  taipy/core/data/_data_manager.py
  taipy/core/exceptions/exceptions.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/_sequence_manager.py
  taipy/core/taipy.py
  tests/core/sequence/test_sequence_manager.py
  tests/core/test_taipy/test_export.py
  tests/core/test_taipy/test_export_with_sql_repo.py
  tests/core/test_taipy/test_import.py
  tests/core/test_taipy/test_import_with_sql_repo.py
Labels: 📈 Improvement, Core: 🎬 Scenario & Cycle

#1436 date format day of year
  frontend/taipy-gui/src/utils/index.spec.ts
  frontend/taipy-gui/src/utils/index.ts
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1337 Cache dependencies on github actions (#1296)
  .github/actions/install/action.yml
  .github/workflows/build-and-release-single-package.yml
  .github/workflows/build-and-release.yml
  .github/workflows/frontend.yml
  .github/workflows/partial-tests.yml
  .github/workflows/publish.yml
  frontend/taipy-gui/base/src/app.ts
  tools/frontend/hash_source.py
Labels: 📈 Improvement, 🖧 Devops

#1391 Feature/wsadapter (#1423)
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/dataManager.ts
  frontend/taipy-gui/base/src/exports.ts
  frontend/taipy-gui/base/src/packaging/package.json
  frontend/taipy-gui/base/src/packaging/taipy-gui-base.d.ts
  frontend/taipy-gui/base/src/socket.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/base/src/wsAdapter.ts
  frontend/taipy-gui/base/webpack.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/webpack.config.js
  taipy/__init__.py
  taipy/gui/gui.py
  taipy/gui/server.py
Labels: 🖰 GUI

#1443 root page decouple
  frontend/taipy-gui/base/src/app.ts
  taipy/gui/custom/_page.py
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1445 Fix/#1199 - Support pandas series signature in _convert_data_to_dataframe()
  taipy/core/data/csv.py
  taipy/core/data/excel.py
  taipy/core/data/parquet.py
  taipy/core/data/sql_table.py
Labels: 💥Malfunction, Core: Data node

#1457 Force dependency on taipy-config to 3.1+
  tools/packages/taipy-gui/setup.requirements.txt
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#1453 use taipy-assets favicon
  .github/workflows/frontend.yml
  frontend/taipy-gui/public/favicon.ico
  frontend/taipy-gui/public/favicon.png
  frontend/taipy-gui/public/index.html
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/utils.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/gui.py
  taipy/gui/state.py
  taipy/gui/types.py
  tests/gui/gui_specific/test_favicon.py
Labels: 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#1458 python doc html to markdown
  Pipfile
  taipy/config/common/_template_handler.py
  taipy/gui/data/array_dict_data_accessor.py
  tests/core/config/test_file_config.py
  tools/gui/builder/block.txt
  tools/gui/builder/control.txt
  tools/gui/generate_pyi.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1449 feat(migrate_cli): ensure connection is closed
  taipy/core/_entity/_migrate/_migrate_sql.py
  tests/core/_entity/test_migrate_cli.py
Labels: 💥Malfunction

#1460 add version to favicon
  taipy/gui/server.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1461 refresh job_selector on job deletion
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End
