Repository Avaiga/taipy, pull requests merged in 2024-01, with the labels that each got.

#644 Add colors to marker properties that can hold a column name (#622)
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/utils/chart_config_builder.py
Labels: 📈 Improvement, 🟧 Priority: High, 📝Release Notes, GUI: Front-End, Gui: Back-End

#650 Add instructions to build Taipy's and Taipy GUI's JavaScript bundles.
  INSTALLATION.md
  frontend/README.md
  frontend/taipy-gui/README.md
  frontend/taipy/README.md
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, ✨New feature, GUI: Front-End

#667 Wrong link in visual elements doc
  taipy/gui/viselements.json
Labels: 📄 Documentation, 🖰 GUI, 💥Malfunction, 🟨 Priority: Medium

#668 Natively support Plotly figure in the chart control
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chart.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/data/data_accessor.py
  taipy/gui/gui.py
  taipy/gui/gui_types.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/types.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#674 Apply theme templates to Plotly figure generated charts
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#634 Indexed properties in the Page Builder API
  taipy/gui/builder/_element.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes, Gui: Back-End

#613 GUI - Frontend Decoupling (#446)
  frontend/taipy-gui/.gitignore
  frontend/taipy-gui/base/.gitignore
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/index.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/base/src/variableManager.ts
  frontend/taipy-gui/base/tsconfig.json
  frontend/taipy-gui/base/webpack.config.js
  frontend/taipy-gui/dom/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
  frontend/taipy-gui/src/components/Taipy/ThemeToggle.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/utils.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  frontend/taipy-gui/webpack.config.js
  taipy/gui/custom/__init__.py
  taipy/gui/custom/_page.py
  taipy/gui/gui.py
  taipy/gui/gui_types.py
  taipy/gui/page.py
  taipy/gui/server.py
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes, Gui: Back-End

#697 Make job and submission editable
  taipy/core/job/_job_manager.py
  taipy/core/submission/_submission_manager.py
  tests/core/job/test_job_manager.py
  tests/core/test_taipy.py
Labels: Core

#715 prevent non changed layout to generate unnecessary renders
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#725 Property to not show the creation dialog
  frontend/taipy/package-lock.json
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#729 update DAG on Job Status change
  frontend/taipy/src/ScenarioDag.tsx
  frontend/taipy/src/projectstorm/NodeWidget.tsx
  frontend/taipy/src/projectstorm/models.ts
  frontend/taipy/src/utils/diagram.ts
  frontend/taipy/src/utils/types.ts
  taipy/gui/gui.py
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟧 Priority: High, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#737 display toggle as switch if lov is not declared
  frontend/taipy-gui/src/components/Taipy/ThemeToggle.tsx
  frontend/taipy-gui/src/components/Taipy/Toggle.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Toggle.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/gui_types.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_toggle.py
  tests/gui/control/test_toggle.py
Labels: 🟧 Priority: High, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#611 Remove e2e testing for taipy-gui
  .github/workflows/overall-tests.yml
  taipy/gui/gui.py
  tests/gui/e2e/test_timezone.py
  tests/gui/notebook/test_notebook_simple_gui.py
  tests/gui/server/http/test_status.py
  tox.ini
Labels: 📈 Improvement, 🧪Testing, 🖰 GUI

#638 Package management script
  .github/actions/install/action.yml
  .github/workflows/dependencies-management.yml
  .github/workflows/overall-tests.yml
  setup.py
  tools/packages/check-dependencies.py
  tools/packages/check-dependencies.sh
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/requirements.txt
  tools/packages/taipy-config/setup.requirements.txt
  tools/packages/taipy-core/setup.requirements.txt
  tools/packages/taipy-gui/setup.requirements.txt
  tools/packages/taipy-rest/setup.requirements.txt
  tools/packages/taipy-templates/setup.requirements.txt
  tools/packages/taipy/setup.requirements.txt
Labels: 🖧 Devops

#770 Update MANIFEST.in once and for all
  MANIFEST.in
  setup.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#771 Fix MANIFEST.in
  MANIFEST.in
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#783 On_submission_change not in develop mode
  taipy/gui/gui.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#767 Add GUI specific tests
  .github/actions/gui-test/action.yml
  .github/actions/gui-test/e2e/action.yml
  .github/actions/gui-test/prefix/action.yml
  .github/actions/gui-test/pyi/action.yml
  .github/workflows/partial-tests.yml
  taipy/gui/gui.py
  tools/gui/generate_pyi.py
Labels: 🧪Testing, 🖰 GUI, 🟨 Priority: Medium
