Repository Avaiga/taipy, pull requests merged in 2024-09, with the labels that each got.

#1730 add import export to datanode viewer
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy-gui/src/workers/fileupload.ts
  frontend/taipy-gui/src/workers/fileupload.utils.ts
  frontend/taipy-gui/src/workers/fileupload.worker.ts
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/reason/__init__.py
  taipy/core/reason/reason.py
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_json_data_node.py
  tests/core/data/test_parquet_data_node.py
  tests/core/data/test_pickle_data_node.py
  tests/gui/control/test_date_range.py
  tests/gui/control/test_text.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#1736 Update Mui to 6.0.1
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Expandable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#1737 add width property to card
  frontend/taipy-gui/src/components/Taipy/Part.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Part.tsx
  taipy/gui/_renderers/factory.py
  tests/gui/control/test_part.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1741 Improve chat avatar placement
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1745 Migrate to Grid2 in Mui6
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeChart.tsx
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/JobViewer.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils/ConfirmDialog.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1746 show_sender property
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#1657 adding test cases to cover StatusList.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.spec.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.tsx
Labels: 🖰 GUI, GUI: Front-End

#1747 Chart: support click via on_click property
  frontend/taipy-gui/src/components/Taipy/Chart.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/themes/darkThemeTemplate.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/utils/chart_config_builder.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_chart.py
  tests/gui/control/test_chart.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1750 Continuous slider with LoV
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1751 datanode viewer show_owner_label boolean property
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/viselements.json
Labels: Core, 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes

#1743 Doc/#1007 improve doc navigability
  .github/workflows/packaging.yml
  .github/workflows/partial-tests.yml
  frontend/taipy-gui/extension-index.md
  taipy/config/config.pyi
  taipy/core/__init__.py
  taipy/core/config/core_section.py
  taipy/core/config/data_node_config.py
  taipy/core/data/aws_s3.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/generic.py
  taipy/core/data/in_memory.py
  taipy/core/data/json.py
  taipy/core/data/mongo.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  taipy/core/data/sql.py
  taipy/core/data/sql_table.py
  taipy/gui/__init__.py
  taipy/gui/_gui_section.py
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/icon.py
  taipy/gui/partial.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
  taipy/rest/__init__.py
Labels: 📄 Documentation, 🟧 Priority: High

#1732 Feature - Add try catch around the upload_checker call
  taipy/core/data/_file_datanode_mixin.py
  tests/core/data/test_csv_data_node.py
Labels: 📈 Improvement, Core: Data node

#1755 #1735 pane close button
  frontend/taipy-gui/src/components/Taipy/Pane.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Pane.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes

#1753 bump flask cors
  Pipfile
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-gui/setup.requirements.txt
Labels: 🖧 Devops

#1677 Direct object passing for decimator (#1591)
  .pre-commit-config.yaml
  taipy/gui/builder/_element.py
  tests/gui/builder/test_embed_object.py
Labels: 📈 Improvement, 🖰 GUI, 📝Release Notes, Gui: Back-End

#1762 multiline input enter action
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 💥Malfunction, 📝Release Notes, GUI: Front-End

#1768 preparing for release 4.0.0.dev2
  taipy/config/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 🖧 Devops

#1765 page styling
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/server.py
  taipy/gui/utils/_css.py
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#1771 Show additional data nodes in DAG
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1774 Fix change_delay in input
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 🖰 GUI

#1775 chat text color
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy/package-lock.json
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1769 inline tgb controls (#1725)
  taipy/gui/builder/_element.py
Labels: 🖰 GUI, ✨New feature, 📝Release Notes

#1778 generate indexed property in pyi
  taipy/gui/viselements.json
  tools/gui/generate_pyi.py
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, Gui: Back-End

#1782 fix layout issue
  frontend/taipy/src/JobSelector.tsx
Labels: Core, 💥Malfunction, 🟧 Priority: High, GUI: Front-End

#1783 Shorten the longest path
  taipy/templates/README.md
  taipy/templates/default/cookiecutter.json
  taipy/templates/default/{{cookiecutter.__root_folder}}/.gitignore
  taipy/templates/default/{{cookiecutter.__root_folder}}/algorithms/__init__.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/algorithms/algorithms.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/configuration/__init__.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/configuration/config.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/__init__.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/page_example/page_example.md
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/page_example/page_example.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/root.md
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/root.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/requirements.txt
  taipy/templates/default/{{cookiecutter.__root_folder}}/sections/import.txt
  taipy/templates/default/{{cookiecutter.__root_folder}}/sections/main.txt
  taipy/templates/default/{{cookiecutter.__root_folder}}/sections/page_content.txt
  taipy/templates/default/{{cookiecutter.__root_folder}}/{{cookiecutter.__main_file}}.py
  taipy/templates/sdm/cookiecutter.json
  taipy/templates/sdm/hooks/post_gen_project.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/.gitignore
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/.taipyignore
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/algos/__init__.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/algos/algos.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/config/__init__.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/config/config.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/config/config.toml
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/config/config_with_toml.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/__init__.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/job_page/__init__.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/job_page/job_page.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/job_page/job_page.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/root.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/root.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/__init__.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/data_node_management.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/scenario_page.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/scenario_page.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/requirements.txt
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/{{cookiecutter.__main_file}}.py
  tests/templates/test_scenario_mgt_template.py
Labels: Core, 🖧 Devops, 🟧 Priority: High

#1784 support image in table
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 🟧 Priority: High, ✨New feature, 📝Release Notes, GUI: Front-End

#1788 Update eslint typescript plugin
  frontend/taipy-gui/.eslintrc.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Button.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.tsx
  frontend/taipy-gui/src/components/Taipy/MenuCtl.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/Slider.tsx
  frontend/taipy-gui/src/components/Taipy/TreeView.tsx
  frontend/taipy-gui/src/components/Taipy/lovUtils.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/utils/index.ts
  frontend/taipy/.eslintrc.js
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/CoreSelector.tsx
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High, GUI: Front-End

#1789 typo table.css
  frontend/taipy-gui/public/stylekit/controls/table.css
Labels: 📄 Documentation, 🖰 GUI, 🟩 Priority: Low

#1791 update react-jsx-parser
  .github/workflows/frontend.yml
  INSTALLATION.md
  frontend/taipy-gui/README.md
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy/package-lock.json
  taipy/gui/INSTALLATION.md
  taipy/gui/package_desc.md
  taipy/gui/setup.py
  tools/frontend/bundle_build.py
  tools/packages/taipy-gui/setup.py
  tools/release/setup_project.py
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High, GUI: Front-End

#1676 New Feature: Enhanced Progress Control
  frontend/taipy-gui/src/components/Taipy/Progress.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Progress.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, GUI: Front-End, 💬 Discussion

#1794 generate gui.run() properly
  tools/gui/generate_pyi.py
Labels: 📈 Improvement, 🖧 Devops, 🟧 Priority: High, Gui: Back-End

#1797 Adding width property to linear & circular progress
  frontend/taipy-gui/src/components/Taipy/Progress.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Progress.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI

#1800 Chat sender avatar
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/control/test_chat.py
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1803 Scenario viewer update
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  frontend/taipy-gui/src/components/Taipy/Login.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  taipy/core/job/_job_manager.py
  taipy/gui/_gui_section.py
  taipy/gui/_page.py
  taipy/gui/_renderers/factory.py
  taipy/gui/config.py
  taipy/gui/gui.py
  taipy/gui/partial.py
  taipy/gui/server.py
  taipy/gui/utils/_adapter.py
  taipy/gui/utils/_bindings.py
  taipy/gui/utils/_evaluator.py
  taipy/gui/utils/_map_dict.py
  taipy/gui/utils/_runtime_manager.py
  taipy/gui/utils/_variable_directory.py
  taipy/gui/utils/chart_config_builder.py
  taipy/gui/utils/datatype.py
  taipy/gui/utils/isnotebook.py
  taipy/gui_core/__init__.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/filters.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#1810 chat support markdown pre raw
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/Field.spec.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#1812 chat: add a mode specific class to the messages
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1813 table partial editable should show add and delete action if not false
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1804 Feature/#1748 - Stop supporting python 3.8
  .github/workflows/dependencies-management.yml
  .github/workflows/overall-tests.yml
  .github/workflows/packaging.yml
  .github/workflows/partial-tests.yml
  .github/workflows/publish.yml
  INSTALLATION.md
  Pipfile
  doc/gui/extension/README.md
  doc/gui/extension/pyproject.toml
  pyproject.toml
  taipy/config/pyproject.toml
  taipy/core/_entity/_dag.py
  taipy/core/pyproject.toml
  taipy/gui/INSTALLATION.md
  taipy/gui/builder/_element.py
  taipy/gui/package_desc.md
  taipy/gui/pyproject.toml
  taipy/gui/utils/unparse.py
  taipy/gui_core/_context.py
  taipy/rest/pyproject.toml
  taipy/templates/pyproject.toml
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-gui/setup.requirements.txt
  tools/packages/taipy/setup.requirements.txt
Labels: 🖧 Devops

#1815 Fix - load_workbook with read_only option when do reading
  taipy/core/data/excel.py
Labels: 💥Malfunction

#1824 bind indexed variables
  taipy/gui/utils/_evaluator.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1827 Improve ref man
  taipy/config/__init__.py
  taipy/config/checker/issue.py
  taipy/config/checker/issue_collector.py
  taipy/config/config.py
  taipy/config/config.pyi
  taipy/config/exceptions/__init__.py
  taipy/config/global_app/global_app_config.py
  taipy/config/section.py
  taipy/config/unique_section.py
  taipy/core/__init__.py
  taipy/core/_core.py
  taipy/core/_init.py
  taipy/core/config/__init__.py
  taipy/core/config/core_section.py
  taipy/core/data/__init__.py
  taipy/core/exceptions/__init__.py
  taipy/core/exceptions/exceptions.py
  taipy/core/reason/__init__.py
  taipy/core/reason/reason.py
  taipy/core/reason/reason_collection.py
  taipy/rest/api/__init__.py
Labels: Core, 📄 Documentation, ⚙️Configuration

#1830 Mainly fix and complete viselements.json
  doc/gui/examples/charts/advanced_annotations.py
  doc/gui/examples/charts/advanced_python_lib.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, 💥Malfunction

#1831 table format function
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  frontend/taipy/package-lock.json
  taipy/config/config.pyi
  taipy/gui/data/data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/utils/table_col_builder.py
  taipy/gui/viselements.json
  tests/gui/data/test_pandas_data_accessor.py
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#1835 Slightly improve RefMan generation
  taipy/gui/viselements.json
  tools/gui/generate_pyi.py
Labels: 🖧 Devops, 📄 Documentation, 🖰 GUI

#1838 manage lambdas
  taipy/gui/_renderers/builder.py
  taipy/gui/builder/_element.py
  taipy/gui/gui.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/_evaluator.py
  taipy/gui/utils/_lambda.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1842 Builder: Detect indexed property as callable
  taipy/gui/builder/_api_generator.py
  taipy/gui/builder/_element.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1837 Feature/#1704 - Store the status changes in a records
  taipy/core/_orchestrator/_dispatcher/_development_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/job/_job_converter.py
  taipy/core/job/_job_model.py
  taipy/core/job/job.py
  taipy/core/submission/submission.py
  tests/core/_orchestrator/test_orchestrator__submit.py
  tests/core/job/test_job.py
  tests/core/notification/test_events_published.py
  tests/core/submission/test_submission.py
Labels: ✨New feature, Core: Job & Orchestrator

#1839 Improve config doc and remove deprecated function.
  taipy/config/__init__.py
  taipy/config/config.py
  taipy/config/config.pyi
  taipy/core/_core.py
  taipy/core/_init.py
  taipy/core/orchestrator.py
  taipy/core/taipy.py
  tests/core/test_core.py
Labels: Core, 📄 Documentation, 🟧 Priority: High, 🔒 Staff only

#1840 Feature - Add submission status change attributes
  taipy/core/submission/submission.py
  tests/core/_orchestrator/test_orchestrator__submit.py
  tests/core/submission/test_submission.py
Labels: ✨New feature, Core: Job & Orchestrator

#1843 selector example
  .github/workflows/trigger-benchmark.yml
  doc/gui/examples/controls/selector_adapter.py
  doc/gui/examples/controls/selector_checkbox.py
  doc/gui/examples/controls/selector_dropdown.py
  doc/gui/examples/controls/selector_filter.py
  doc/gui/examples/controls/selector_icon.py
  doc/gui/examples/controls/selector_list.py
  doc/gui/examples/controls/selector_multiple.py
  doc/gui/examples/controls/selector_radio.py
  doc/gui/examples/controls/selector_styling.py
Labels: 🖰 GUI, 🟨 Priority: Medium

#1848 Example/button
  doc/gui/examples/controls/button_action.py
  doc/gui/examples/controls/button_icon.py
  doc/gui/examples/controls/button_lambda.py
  doc/gui/examples/controls/button_simple.py
  doc/gui/examples/controls/button_stylekit.py
  doc/gui/examples/controls/button_styling.py
  taipy/gui/icon.py
Labels: 📄 Documentation, 🖰 GUI, 🟨 Priority: Medium

#1852 editable table column size
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/Part.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1855 Page key should integrate functions
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/extensions/exports.ts
  tests/gui/server/ws/test_du.py
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1857 Fix multiline input height
  frontend/taipy-gui/src/themes/stylekit.ts
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1822 Fix/#680 - S3ObjectDtaNode.read should return the binary form of the data
  taipy/core/data/aws_s3.py
  tests/core/data/test_aws_s3_data_node.py
Labels: 📈 Improvement, 🧪Testing

#1860 Support enum in lov
  doc/gui/examples/controls/table_styling_cells/builder.py
  doc/gui/examples/controls/table_styling_cells/markdown.py
  doc/gui/examples/controls/table_styling_rows/builder.py
  doc/gui/examples/controls/table_styling_rows/markdown.py
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/utils/_adapter.py
  taipy/gui/utils/table_col_builder.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, Gui: Back-End
