Repository Avaiga/taipy, pull requests merged in 2024-11, with the labels that each got.

#2195 Backport - State as namespace and file selector examples
  doc/gui/examples/controls/file_selector_image.py
  doc/gui/examples/controls/file_selector_simple.py
  taipy/gui/state.py
Labels: 📈 Improvement, 📄 Documentation, 🟧 Priority: High, Gui: Back-End

#2188 Better client_url handling
  taipy/gui/_default_config.py
  taipy/gui/config.py
  taipy/gui/server.py
  tests/gui/gui_specific/test_cli.py
Labels: 📈 Improvement, 🖰 GUI

#2199 frontend decouple reload page on cookies removed
  taipy/gui/server.py
Labels: 📈 Improvement, 🖰 GUI, 🏗 Designer

#2184 Example for tabular data
  doc/gui/extension/example_library/example_library.py
  doc/gui/extension/example_library/front-end/src/GameTable.tsx
  doc/gui/extension/example_library/front-end/src/index.ts
  doc/gui/extension/table_chess_game.py
Labels: 📄 Documentation, GUI: Front-End, 💬 Discussion

#2213 chat streaming example
  doc/gui/examples/controls/chat-streaming.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟩 Priority: Low

#2214 fix: reference fixture instead of mock when injecting param in url
  tests/rest/test_datanode.py
  tests/rest/test_scenario.py
  tests/rest/test_sequence.py
  tests/rest/test_task.py
Labels: 🧪Testing, 💥Malfunction

#2216 case sensitive icon in filter
  doc/gui/examples/controls/chat_streaming.py
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/icons/MatchCase.tsx
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  tests/gui_core/test_context_filter.py
Labels: 💥Malfunction, 🟨 Priority: Medium, 📝Release Notes, GUI: Front-End

#2221 LaTeX mode to text control via mathjax
  doc/gui/examples/controls/text_latex.py
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Field.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Field.tsx
  frontend/taipy-gui/test-config/markdown.tsx
  taipy/gui/viselements.json
Labels: 🟨 Priority: Medium, ✨New feature, 📝Release Notes, GUI: Front-End

#2041 [#1934] Add Image Badges
  README.md
Labels: 📄 Documentation, 🥶Waiting for contributor

#2223 layout fit example
  doc/gui/examples/blocks/layout_fit/__init__.py
  doc/gui/examples/blocks/layout_fit/builder.py
  doc/gui/examples/blocks/layout_fit/markdown.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟩 Priority: Low

#2228 Scenario delete
  frontend/taipy/src/ScenarioViewer.tsx
  tests/gui_core/test_context_crud_scenario.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2231 Scenario delete (#2228)
  frontend/taipy/src/ScenarioViewer.tsx
  tests/gui_core/test_context_crud_scenario.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2137 Refactor - Expand Event and _get_manager() method
  taipy/core/_entity/_entity.py
  taipy/core/_entity/_reload.py
  taipy/core/_manager/_manager_factory.py
  taipy/core/data/_data_manager_factory.py
  taipy/core/job/_job_manager_factory.py
  taipy/core/notification/__init__.py
  taipy/core/notification/_topic.py
  taipy/core/notification/event.py
  taipy/core/scenario/_scenario_manager_factory.py
  taipy/core/sequence/_sequence_manager_factory.py
  taipy/core/submission/_submission_manager_factory.py
Labels: 📈 Improvement, ✨New feature, Enterprise

#2238 Rewording for Core selector filter/sort
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableFilter.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy/src/CoreSelector.tsx
  taipy/gui_core/_adapters.py
  taipy/gui_core/filters.py
  taipy/gui_core/viselements.json
Labels: 📈 Improvement, 🟨 Priority: Medium, GUI: Front-End

#2164 Added Feature Cover Json Data Node in Data Node control
  doc/gui/examples/controls/datanode_viewer_json.json
  doc/gui/examples/controls/datanode_viewer_json.py
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/DataNodeViewer.tsx
  package-lock.json
  taipy/gui_core/_adapters.py
Labels: Core, 🖰 GUI, 🟨 Priority: Medium, ✨New feature, 📝Release Notes, ✅ hacktoberfest: approved, ⚔️ Quest

#2241 Version set to 4.0.1
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 🖧 Devops

#2179 Issue #558 add matplotlib example
  doc/gui/examples/charts/matplotlib/image.py
Labels: 📄 Documentation, 🖰 GUI, 🟩 Priority: Low, ✅ hacktoberfest: approved

#2206 New feature implementation/#2189 Add support for uploading nested folders
  CONTRIBUTING.md
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/FileSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/workers/fileupload.worker.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui/viselements.json
  tests/gui/control/test_file_selector.py
  tests/gui/server/http/test_file_upload.py
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature, hacktoberfest, hacktoberfest - 300💎💎💎, ✅ hacktoberfest: approved

#2243 root page style
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/pages/TaipyRendered.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2247 Refactor - Split the `_set_entity_owner()` on the `_Properties` to make it overridable
  taipy/core/_entity/_properties.py
Labels: 📈 Improvement, Core: Repository

#2240 CLean parameters for the datanode track_edit method.
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/data_node_id.py
  taipy/core/data/excel.py
  taipy/core/data/parquet.py
  taipy/gui_core/_context.py
  tests/core/data/test_data_node.py
  tests/core/notification/test_events_published.py
  tests/core/notification/test_published_ready_to_run_event.py
Labels: Core, 🟧 Priority: High, Core: Data node

#2244 handle lov id as empty string
  frontend/taipy-gui/src/components/Taipy/Toggle.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Toggle.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_toggle.py
  tests/gui/control/test_toggle.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#2055 chore: update table_guard_edits.py
  doc/gui/examples/controls/table_guard_edits.py
Labels: 📄 Documentation

#2159 added more mui classes for buttons
  doc/gui/examples/controls/button_size.py
  doc/gui/examples/controls/button_variant.py
  frontend/taipy-gui/src/components/Taipy/Button.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Button.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🥶Waiting for contributor, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2251 Fix - Always initialize the _Reloader method before calling to the _Reloader._get_manager()
  taipy/core/_entity/_entity.py
  taipy/core/_entity/_reload.py
Labels: Core, 💥Malfunction

#2256 non action lambda: do not try to set constants from non scalar or list
  taipy/gui/builder/_utils.py
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, Gui: Back-End

#2258 Boolean table cell in edit mode
  frontend/taipy-gui/src/components/Taipy/tableUtils.spec.ts
  frontend/taipy-gui/src/components/Taipy/tableUtils.spec.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2177 feat: Status controls could have a way to have icons instead of the default letters
  frontend/taipy-gui/src/components/Taipy/Status.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Status.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.spec.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.tsx
  taipy/gui/_renderers/factory.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, hacktoberfest, hacktoberfest - 200💎💎, ✅ hacktoberfest: approved

#2028 Added a function to support data conversion if type is not supported by the taipy.gui.data module
  taipy/gui/data/data_accessor.py
  taipy/gui/gui.py
  tests/gui/data/test_accessors.py
  tests/gui/data/test_unsupported_data_converter.py
Labels: 🟨 Priority: Medium, ✨New feature, 📝Release Notes, Gui: Back-End, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved, ⚔️ Quest

#2264 handle icons for status
  doc/gui/examples/controls/status_icons.py
  doc/gui/examples/controls/status_mixed_icons.py
  doc/gui/examples/controls/status_simple.py
  doc/gui/examples/controls/status_svg_icons.py
  frontend/taipy-gui/src/components/Taipy/Status.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Status.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.spec.tsx
  frontend/taipy-gui/src/components/Taipy/StatusList.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#2249 Example for list of value
  doc/gui/extension/example_library/example_library.py
  doc/gui/extension/example_library/front-end/src/VisualLabelList.tsx
  doc/gui/extension/example_library/front-end/src/index.ts
  doc/gui/extension/images/cpp.png
  doc/gui/extension/images/java.png
  doc/gui/extension/images/javascript.png
  doc/gui/extension/images/python.png
  doc/gui/extension/images/typescript.png
  doc/gui/extension/visual_label_list.py
Labels: 📄 Documentation

#2277 fix flickering on empty table refresh
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 💥Malfunction, 🟩 Priority: Low, 📝Release Notes, GUI: Front-End

#2279 tree does not support mode
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/lovUtils.tsx
  frontend/taipy-gui/src/themes/darkThemeTemplate.ts
  taipy/gui/builder/_api_generator.py
  taipy/gui/utils/viselements.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#2280 reset file selector input after upload
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/Input.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2282 Chart: merge layout for figure
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2266 Fix - Set default value for _in_context_attributes_changed_collector
  taipy/core/_entity/_entity.py
Labels: 💥Malfunction

#2289 Implement a draw method in scenario config for debug purpose.
  taipy/common/config/config.pyi
  taipy/core/config/scenario_config.py
  tests/core/config/test_scenario_config.py
Labels: 🧪Testing, 🟩 Priority: Low, Core: ⚙️ Configuration, Core: 🎬 Scenario & Cycle
