Repository Avaiga/taipy, pull requests merged in 2024-12, with the labels that each got.

#2273 Tabular chess game table encoding
  doc/gui/extension/table_chess_game.py
Labels: 📄 Documentation

#2295 support async callback with state
  doc/gui/examples/async_callback.py
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/state.py
  taipy/gui/utils/threads.py
  tests/gui/gui_specific/test_state.py
Labels: 🟨 Priority: Medium, 📝Release Notes, Gui: Back-End

#2036 Input control validation on focus out event
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
  tests/gui/e2e/with_action/test_input.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, hacktoberfest, hacktoberfest - 100💎, ✅ hacktoberfest: approved

#2299 selector: selection message and select all
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#2300 table column width should be set as minWidth to be noticed
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2301 Handle multi selection in lov components
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2297 Adding example for get_resource for taipy extension
  doc/gui/extension/example_library/assets/logo.png
  doc/gui/extension/example_library/example_library.py
  doc/gui/extension/example_library/front-end/scripts/logoAnimation.js
  doc/gui/extension/example_library/front-end/src/LogoWithText.tsx
  doc/gui/extension/example_library/front-end/src/index.ts
  doc/gui/extension/logo_with_text.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#2072 Precompute the rank of a data node in all the scenario config DAGs.
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy/src/CoreSelector.tsx
  taipy/core/config/data_node_config.py
  taipy/core/config/scenario_config.py
  taipy/core/data/data_node.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/filters.py
  tests/core/config/test_scenario_config.py
  tests/core/data/test_data_node.py
Labels: Core, 🖰 GUI, 🟨 Priority: Medium

#2314 Chart refresh column but no data
  frontend/taipy-gui/public/stylekit/controls/selector.css
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2318 Fix css syntax for Metric component
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
Labels: 🖰 GUI, GUI: Front-End

#2315 scroll chat down when non user scroll action
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2325 on_submission_change called twice with the same status
  taipy/gui_core/_context.py
  taipy/gui_core/_utils.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2303 bug/#1226 refactor to include other exposed type in enterprise
  taipy/core/config/checkers/_data_node_config_checker.py
Labels: Core, 🟧 Priority: High, Core: Data node, Enterprise

#2324 Fix - Remove redundant _auth_config_checker.py file
  taipy/common/config/checker/_checkers/_auth_config_checker.py
Labels: 💥Malfunction

#2316 Fix issue about not publishing data node updates
  .github/PULL_REQUEST_TEMPLATE.md
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_task_function_wrapper.py
  taipy/core/data/data_node.py
  tests/core/_orchestrator/_dispatcher/test_dispatcher__update_job_status.py
  tests/core/job/test_job.py
  tests/core/notification/test_events_published.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Core: Job & Orchestrator, Core: Data node

#2321 Fix issue 2319
  taipy/core/_orchestrator/_dispatcher/_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_task_function_wrapper.py
  tests/core/job/test_job.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Core: Job & Orchestrator, Core: Data node

#2327 Resizing test
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  taipy/gui/viselements.json
  tests/gui/e2e/test_resizing.py
Labels: 🧪Testing, GUI: Front-End

#2347 allow additional buttons in login
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Login.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Login.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes

#2339 popupdialog associated with an id (query selector)
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Dialog.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Dialog.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#2335 feature/enterprise/#576 added _check_required_properties for task config checker
  taipy/core/config/checkers/_task_config_checker.py
  taipy/core/config/task_config.py
  tests/core/config/checkers/test_task_config_checker.py
Labels: ⚙️Configuration, 🟧 Priority: High

#2343 Fix tests in release/4.0 branch
  .github/workflows/partial-tests.yml
  Pipfile
  pyproject.toml
  setup.py
  taipy/core/pyproject.toml
  taipy/core/setup.py
  taipy/gui/_gui_cli.py
  taipy/gui/config.py
  taipy/gui/pyproject.toml
  taipy/gui/setup.py
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-core/setup.requirements.txt
  tools/packages/taipy-gui/setup.py
  tools/packages/taipy-gui/setup.requirements.txt
  tools/packages/taipy-rest/setup.requirements.txt
  tools/packages/taipy/setup.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#2352 Bump to version 4.0.2.dev1
  .github/workflows/partial-tests.yml
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#2346 Backport metric control geometry management
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  taipy/gui/viselements.json
  tests/gui/e2e/test_resizing.py
Labels: 📈 Improvement, 🟧 Priority: High, GUI: Front-End

#2354 normalize components height
  frontend/taipy-gui/public/stylekit/controls/button.css
  frontend/taipy-gui/public/stylekit/controls/file_download.css
  frontend/taipy-gui/public/stylekit/controls/file_selector.css
  frontend/taipy-gui/public/stylekit/controls/selector.css
  frontend/taipy-gui/public/stylekit/controls/slider.css
  frontend/taipy-gui/public/stylekit/controls/status.css
  frontend/taipy-gui/public/stylekit/controls/toggle.css
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2357 readable submission auth
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2341 Chart extension documentation
  doc/gui/extension/dashboard.py
  doc/gui/extension/example_library/example_library.py
  doc/gui/extension/example_library/front-end/package.json
  doc/gui/extension/example_library/front-end/src/Dashboard.tsx
  doc/gui/extension/example_library/front-end/src/GameTable.tsx
  doc/gui/extension/example_library/front-end/src/LogoWithText.tsx
  doc/gui/extension/example_library/front-end/src/VisualLabelList.tsx
  doc/gui/extension/example_library/front-end/src/index.ts
  doc/gui/extension/example_library/front-end/webpack.config.js
Labels: 📄 Documentation, 🖰 GUI

#2358 table col width
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2360 backport: table col width
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2355 #2152 on submission change called twice with same status (#2353)
  frontend/taipy-gui/public/stylekit/controls/button.css
  frontend/taipy-gui/public/stylekit/controls/file_download.css
  frontend/taipy-gui/public/stylekit/controls/file_selector.css
  frontend/taipy-gui/public/stylekit/controls/selector.css
  frontend/taipy-gui/public/stylekit/controls/slider.css
  frontend/taipy-gui/public/stylekit/controls/status.css
  frontend/taipy-gui/public/stylekit/controls/toggle.css
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#2362 Bump 4.0.2.dev2
  frontend/taipy-gui/dom/package-lock.json
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖧 Devops

#2363 Handle bound var theme toggle (#1492)
  frontend/taipy-gui/src/components/Taipy/ThemeToggle.tsx
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟩 Priority: Low, ✨New feature, 📝Release Notes

#2359 Allow custom Javascript files
  taipy/gui/gui.py
Labels: 🖰 GUI

#2296 feature/#398-expand-exposed-type-parameter
  taipy/core/config/data_node_config.py
  taipy/core/data/_tabular_datanode_mixin.py
  taipy/core/data/csv.py
  taipy/core/data/excel.py
  taipy/core/data/parquet.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_parquet_data_node.py
Labels: Core, 🟨 Priority: Medium, Core: Data node

#2368 Fix - Only log the string values of the _ALL_EXPOSED_TYPES when run the _DataNodeConfigChecker
  taipy/core/config/checkers/_data_node_config_checker.py
Labels: 💥Malfunction, Core: Data node

#2328 feat: add data config checker for property value types
  taipy/core/config/checkers/_data_node_config_checker.py
  taipy/core/config/data_node_config.py
  tests/core/config/checkers/test_data_node_config_checker.py
Labels: Core, 🟨 Priority: Medium, Core: ⚙️ Configuration
