Repository Avaiga/taipy, pull requests merged in 2024-08, with the labels that each got.

#1628 fix progress declaration
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1595 Shutdown taipy gracefully without long traceback
  taipy/_cli/_run_cli.py
  taipy/gui/server.py
Labels: Core, 📈 Improvement, 🖰 GUI, 🟩 Priority: Low

#1629 Unit test for Paginated Table component
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🧪Testing, GUI: Front-End

#1643 Decouple / proper navigation for base_url
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
Labels: 📈 Improvement

#1640 feat: add execution duration as a information field in Job and Submission entities
  taipy/core/_orchestrator/_dispatcher/_development_job_dispatcher.py
  taipy/core/_orchestrator/_dispatcher/_standalone_job_dispatcher.py
  taipy/core/job/_job_converter.py
  taipy/core/job/_job_model.py
  taipy/core/job/job.py
  taipy/core/submission/submission.py
  tests/core/_orchestrator/test_orchestrator__submit.py
  tests/core/submission/test_submission.py
Labels: ✨New feature, Core: Job & Orchestrator

#1648 Fix - Failed events published test due to new job attributes
  tests/core/notification/test_events_published.py
Labels: 🧪Testing, 💥Malfunction

#1649 Support None as a value for progress
  frontend/taipy-gui/src/components/Taipy/Progress.tsx
  frontend/taipy-gui/src/utils/hooks.ts
  taipy/gui/utils/types.py
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End, Gui: Back-End

#1650 Scenario_selector select scenario after on_creation
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1651 refresh when the list of messages is emptied
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1652 Scenario_selector: do not callback on Cycle select
  frontend/taipy/src/CoreSelector.tsx
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1647 Feature/#1566 - Check children config_id to make sure not overlapping the properties
  taipy/core/config/checkers/_scenario_config_checker.py
  taipy/core/config/checkers/_task_config_checker.py
  tests/core/config/checkers/test_scenario_config_checker.py
  tests/core/config/checkers/test_task_config_checker.py
Labels: Core, ⚙️Configuration, ✨New feature

#1654 take into account ReasonCollection
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils.ts
  taipy/gui_core/_adapters.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End, Gui: Back-End

#1653 Improve content of generated pyi for the Page Builder API
  .github/actions/gui-test/pyi/action.yml
  .github/workflows/build-and-release-single-package.yml
  .github/workflows/build-and-release.yml
  doc/gui/examples/controls/chat-discuss.py
  doc/gui/examples/controls/metric-color-map.py
  doc/gui/examples/controls/metric-layout.py
  doc/gui/examples/controls/metric-simple.py
  taipy/gui/viselements.json
  tools/gui/builder/block.txt
  tools/gui/builder/control.txt
  tools/gui/generate_pyi.py
Labels: 🖧 Devops, 💥Malfunction, 🟨 Priority: Medium, Gui: Back-End

#1656 Page Builder API pyi generation issues with Python 3.8
  tools/gui/generate_pyi.py
Labels: 🖧 Devops, 💥Malfunction, 🟨 Priority: Medium, Gui: Back-End

#1660 remove unused states if state_retention_period is defined and > 0
  taipy/gui/_default_config.py
  taipy/gui/config.py
  taipy/gui/gui.py
  taipy/gui/hook.py
  taipy/gui/utils/_bindings.py
  tests/gui/config/test_cli.py
  tools/gui/generate_pyi.py
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#1661 fix typing in generate-pyi
  .github/workflows/build-and-release.yml
  .github/workflows/check-config-pyi.yml
  tools/gui/generate_pyi.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1662 feat: add lru_cache decorator to manager build functions
  taipy/core/_version/_version_manager_factory.py
  taipy/core/cycle/_cycle_manager_factory.py
  taipy/core/data/_data_manager_factory.py
  taipy/core/job/_job_manager_factory.py
  taipy/core/scenario/_scenario_manager_factory.py
  taipy/core/sequence/_sequence_manager_factory.py
  taipy/core/submission/_submission_manager_factory.py
  taipy/core/task/_task_manager_factory.py
Labels: 📈 Improvement

#1671 Call the specific on_change when a scenario is created
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1633 Feature/enterprise#431 - Remove production version
  .gitignore
  taipy/_entrypoint.py
  taipy/_run.py
  taipy/config/config.pyi
  taipy/config/stubs/generate_pyi.py
  taipy/config/stubs/pyi_header.py
  taipy/core/_cli/__init__.py
  taipy/core/_cli/_core_cli.py
  taipy/core/_cli/_core_cli_factory.py
  taipy/core/_core.py
  taipy/core/_version/_cli/_version_cli.py
  taipy/core/_version/_cli/_version_cli_factory.py
  taipy/core/_version/_utils.py
  taipy/core/_version/_version_fs_repository.py
  taipy/core/_version/_version_manager.py
  taipy/core/_version/_version_repository_interface.py
  taipy/core/config/__init__.py
  taipy/core/config/checkers/_migration_config_checker.py
  taipy/core/config/core_section.py
  taipy/core/config/migration_config.py
  taipy/core/data/_data_converter.py
  taipy/core/exceptions/exceptions.py
  taipy/core/scenario/_scenario_converter.py
  taipy/core/taipy.py
  taipy/core/task/_task_converter.py
  tests/conftest.py
  tests/core/_version/__init__.py
  tests/core/_version/dataset_2.0/cycles/CYCLE_Frequency.DAILY_2023-01-18T172525.892619_8956558e-d108-4ac4-8684-60f3e5ef9e8f.json
  tests/core/_version/dataset_2.0/data_nodes/DATANODE_d1_3d65c33b-b188-4402-8d2c-3b26d98b9a9e.json
  tests/core/_version/dataset_2.0/data_nodes/DATANODE_d2_bd8ee43e-6fa9-4832-b2e7-c0c9516b1e1c.json
  tests/core/_version/dataset_2.0/scenarios/SCENARIO_my_scenario_c4307ae8-d2ce-4802-8b16-8307baa7cff1.json
  tests/core/_version/dataset_2.0/sequences/SEQUENCE_my_sequence_1b97a539-ca51-4eb8-aa64-c232269618c6.json
  tests/core/_version/dataset_2.0/tasks/TASK_my_task_53cf9993-047f-4220-9c03-e28fa250f6b3.json
  tests/core/_version/test_version.py
  tests/core/_version/test_version_cli.py
  tests/core/_version/test_version_manager.py
  tests/core/_version/test_version_repositories.py
  tests/core/config/checkers/test_migration_config_checker.py
  tests/core/config/test_config_serialization.py
  tests/core/config/test_core_section.py
  tests/core/config/test_core_version.py
  tests/core/config/test_default_config.py
  tests/core/config/test_file_config.py
  tests/core/config/test_migration_config.py
  tests/core/conftest.py
  tests/core/test_core_cli.py
  tests/core/version/test_production_version_migration.py
Labels: 🥶Waiting for contributor

#1678 Feature/#1641 - Add TOML suggestion in config.py of default template
  taipy/templates/default/{{cookiecutter.__root_folder_name}}/configuration/config.py
Labels: ✨New feature

#1681 chat height default unit is px
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 📈 Improvement, 🟧 Priority: High, GUI: Front-End

#1686 add sender icon and name if sender is described in users dict
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#1688 Fix/#1687 - First cli option is skipped if it's before the positional arg
  taipy/_cli/_run_cli.py
Labels: 💥Malfunction

#1692 Fix - Reload the cache of _build_manager when needed
  taipy/core/_version/_version_mixin.py
  taipy/core/config/core_section.py
  taipy/core/data/data_node.py
Labels: 🟥 Priority: Critical, 💥Malfunction

#1693 Icon and msg align
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
Labels: 💥Malfunction, 🟧 Priority: High, GUI: Front-End

#1697 Feature/#1292 - Tag should not be unique in cycle
  taipy/core/scenario/_scenario_manager.py
  taipy/core/taipy.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/scenario/test_scenario_manager_with_sql_repo.py
Labels: 📈 Improvement, Core: 🎬 Scenario & Cycle

#1699 limit d-flex children width
  frontend/taipy-gui/public/stylekit/utilities/misc.css
Labels: 💥Malfunction, 🟧 Priority: High, GUI: Front-End

#1700 change chat conversation
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#1705 tabular datanode edit in viewer
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/JobSelector.tsx
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_promotable.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#1711 do not show add and delete buttons on non editable tables
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End, javascript

#1709 improve log message
  taipy/config/config.py
Labels: Core, 📈 Improvement, ⚙️Configuration, 🟩 Priority: Low, Core: ⚙️ Configuration

#1713 Bump twisted version (#1712)
  Pipfile
  tools/packages/pipfiles/Pipfile3.10.max
  tools/packages/pipfiles/Pipfile3.11.max
  tools/packages/pipfiles/Pipfile3.12.max
  tools/packages/pipfiles/Pipfile3.8.max
  tools/packages/pipfiles/Pipfile3.9.max
  tools/packages/taipy-gui/setup.requirements.txt
Labels: 🖰 GUI

#1642 feature/#1572 attempt to Protect scenario custom properties
  taipy/core/common/warn_if_inputs_not_ready.py
  taipy/core/cycle/cycle.py
  taipy/core/data/data_node.py
  taipy/core/data/parquet.py
  taipy/core/exceptions/exceptions.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  taipy/core/task/task.py
  taipy/gui_core/_context.py
  tests/core/cycle/test_cycle.py
  tests/core/cycle/test_cycle_manager.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_data_manager.py
  tests/core/data/test_data_node.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_json_data_node.py
  tests/core/data/test_parquet_data_node.py
  tests/core/data/test_read_excel_data_node.py
  tests/core/data/test_sql_data_node.py
  tests/core/data/test_sql_table_data_node.py
  tests/core/scenario/test_scenario.py
  tests/core/sequence/test_sequence.py
  tests/core/sequence/test_sequence_manager.py
  tests/core/task/test_task.py
Labels: Core, 📈 Improvement, 🟧 Priority: High, 💬 Discussion

#1708 Feature/#1696 - Check children config_id of a scenario to make sure not overlapping other children ids
  taipy/core/config/checkers/_scenario_config_checker.py
  tests/core/config/checkers/test_scenario_config_checker.py
Labels: 🟨 Priority: Medium, ✨New feature, Core: ⚙️ Configuration

#1721 Fix release action
  .github/workflows/build-and-release.yml
  taipy/config/pyproject.toml
  taipy/config/version.json
  taipy/core/pyproject.toml
  taipy/core/version.json
  taipy/gui/pyproject.toml
  taipy/gui/version.json
  taipy/rest/pyproject.toml
  taipy/rest/version.json
  taipy/templates/pyproject.toml
  taipy/templates/version.json
  taipy/version.json
  tools/packages/taipy-config/setup.py
  tools/packages/taipy-core/setup.py
  tools/packages/taipy-gui/setup.py
  tools/packages/taipy-rest/setup.py
  tools/packages/taipy-templates/setup.py
  tools/release/build_package_structure.py
Labels: 🖧 Devops, 🟧 Priority: High

#1717 job details
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/JobViewer.tsx
  frontend/taipy/src/utils.ts
  taipy/gui/_renderers/builder.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
Labels: Core, 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#1727 Fix viselements
  taipy/gui_core/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High

#1724 add width
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/Button.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Button.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.tsx
  frontend/taipy-gui/src/components/Taipy/Field.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Field.tsx
  frontend/taipy-gui/src/components/Taipy/FileDownload.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileDownload.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/ThemeToggle.spec.tsx
  frontend/taipy-gui/src/components/Taipy/ThemeToggle.tsx
  frontend/taipy-gui/src/components/Taipy/Toggle.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Toggle.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/utils/ErrorBoundary.tsx
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
  tests/gui/control/test_button.py
  tests/gui/control/test_date.py
  tests/gui/control/test_date_range.py
  tests/gui/control/test_file_download.py
  tests/gui/control/test_file_selector.py
  tests/gui/control/test_number.py
  tests/gui/control/test_text.py
  tests/gui/control/test_toggle.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes

#1722 bug/#1607 fix not publishing failed status submission
  taipy/core/submission/_submission_manager.py
Labels: 💥Malfunction, 🟧 Priority: High, Core: Job & Orchestrator

#1679 port auto ranges (#1519)
  taipy/gui/_default_config.py
  taipy/gui/config.py
  taipy/gui/gui.py
  taipy/gui/server.py
  tests/gui/helpers.py
Labels: 💥Malfunction, 🟨 Priority: Medium, 📝Release Notes, Gui: Back-End
