Repository Avaiga/taipy, pull requests merged in 2024-05, with the labels that each got.

#1194 Feature/#410 - Import scenario from an exported one
  taipy/core/_manager/_manager.py
  taipy/core/_repository/_abstract_repository.py
  taipy/core/_version/_version_manager.py
  taipy/core/_version/_version_manager_factory.py
  taipy/core/cycle/_cycle_manager_factory.py
  taipy/core/data/_data_manager.py
  taipy/core/data/_data_manager_factory.py
  taipy/core/exceptions/exceptions.py
  taipy/core/job/_job_manager.py
  taipy/core/job/_job_manager_factory.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/_scenario_manager_factory.py
  taipy/core/submission/_submission_manager_factory.py
  taipy/core/taipy.py
  taipy/core/task/_task_manager_factory.py
  tests/core/test_taipy/test_export.py
  tests/core/test_taipy/test_export_with_sql_repo.py
  tests/core/test_taipy/test_import.py
  tests/core/test_taipy/test_import_with_sql_repo.py
Labels: ✨New feature, Core: 🎬 Scenario & Cycle

#1224 <DataNode>.is_up_to_date raises error when never written before
  taipy/core/data/data_node.py
  tests/core/data/test_data_node.py
Labels: 💥Malfunction, Core: Data node

#1256 allows to have 2 instances of the same core viz element in a page
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/PropertiesEditor.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/extension/library.py
  taipy/gui/gui.py
  taipy/gui/utils/_adapter.py
  taipy/gui/utils/_evaluator.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/gui_core/test_context_is_deletable.py
  tests/gui_core/test_context_is_editable.py
  tests/gui_core/test_context_is_promotable.py
  tests/gui_core/test_context_is_readable.py
  tests/gui_core/test_context_is_submitable.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI

#1257 typo
  taipy/gui_core/_GuiCoreLib.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1259 Fix/doc#913 - Update refman on get_scenarios methods
  taipy/core/data/_filter.py
  taipy/core/taipy.py
  taipy/gui/data/utils.py
  taipy/gui/extension/library.py
  taipy/gui/utils/types.py
  tests/gui/utils/test_types.py
Labels: 📈 Improvement, 📄 Documentation

#1269 remove uid from method signatures
  taipy/gui_core/_context.py
  tests/gui_core/test_context_is_readable.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#1273 fix edit mode and add None to list
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, GUI: Front-End, Gui: Back-End

#1086 bug/#746 new notifier mechanism for submittable status
  taipy/core/_entity/_ready_to_run_property.py
  taipy/core/_entity/submittable.py
  taipy/core/cycle/cycle.py
  taipy/core/data/_abstract_sql.py
  taipy/core/data/aws_s3.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/generic.py
  taipy/core/data/in_memory.py
  taipy/core/data/json.py
  taipy/core/data/mongo.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  taipy/core/data/sql.py
  taipy/core/data/sql_table.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  tests/core/_entity/test_ready_to_run_property.py
  tests/core/data/test_data_node.py
  tests/core/notification/test_events_published.py
  tests/core/notification/test_published_ready_to_run_event.py
  tests/core/scenario/test_scenario.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/sequence/test_sequence.py
  tests/core/sequence/test_sequence_manager.py
  tests/rest/conftest.py
Labels: ✨New feature, Core: 🔔Notifications

#1278 bug: lov within table rebuild
  taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1280 Fix access to extensions and styles for base_url config (#1271)
  taipy/gui/gui.py
Labels: 🖰 GUI, 💥Malfunction, GUI: Front-End, Gui: Back-End

#1281 Handle Ngrok better (#1268)
  taipy/gui/gui.py
Labels: 📈 Improvement, 🖰 GUI, 💥Malfunction, Gui: Back-End

#1285 Feature/#709 user man
  taipy/core/data/data_node.py
  taipy/core/scenario/scenario.py
  taipy/core/task/task.py
Labels: Core, 📈 Improvement, 📄 Documentation, Core: Data node, Core: 🎬 Scenario & Cycle

#1287 Propagate shared variable for new scope (#1080)
  taipy/gui/data/data_scope.py
  taipy/gui/utils/_bindings.py
Labels: 📈 Improvement, 🖰 GUI, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1092 chat control
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/index.ts
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy-gui/src/utils/hooks.ts
  frontend/taipy-gui/src/utils/icon.tsx
  frontend/taipy-gui/test-config/intersectionObserver.js
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/factory.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui_actions.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_chat.py
  tests/gui/control/test_chat.py
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes, GUI: Front-End

#1290 Fix block element in CRLF (#1255)
  taipy/gui/_renderers/__init__.py
Labels: 🖰 GUI, 💥Malfunction, 📝Release Notes

#1291 Reorder controls for the generated doc
  taipy/gui/viselements.json
Labels: 📄 Documentation, 🖰 GUI

#1293 Fix minor doc issues
  taipy/gui/_renderers/__init__.py
  taipy/gui/page.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_chat.py
Labels: 📄 Documentation, 💥Malfunction, 🟧 Priority: High

#1295 Use lov as int and float for Python API (#1254)
  taipy/gui/utils/_adapter.py
Labels: 📈 Improvement, 🖰 GUI, 💥Malfunction, 📝Release Notes, Gui: Back-End

#1238 docs: convert markdown issue templates to issue forms
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/new-feature.md
  .github/ISSUE_TEMPLATE/other.yml
  .github/ISSUE_TEMPLATE/refactor-code.yml
Labels: 📄 Documentation

#1298 support date format in date_selector
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/DateRange.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.tsx
  frontend/taipy-gui/src/utils/index.ts
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#1272 Feature/#551 Expose a metric control
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  frontend/taipy-gui/src/components/Taipy/index.ts
  frontend/taipy-gui/src/extensions/exports.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/e2e/test_metric_indicator.py
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes, 🔒 Staff only

#1307 Filter scenarios
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/src/ScenarioSelector.tsx
  frontend/taipy/src/ScenarioViewer.tsx
  frontend/taipy/src/utils.ts
  taipy/gui/_renderers/builder.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/boolean.py
  taipy/gui/utils/table_col_builder.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/gui_core/test_context_is_submitable.py
Labels: Core, 📈 Improvement, 🖰 GUI, 📝Release Notes

#1316 Remove [Feature] prefix to 'New feature' issue title
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: 📈 Improvement, 🖧 Devops, 🟨 Priority: Medium

#1310 Search box in scenario management elements selector control
  CODE_OF_CONDUCT.md
  frontend/taipy/src/CoreSelector.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/JobSelector.tsx
  frontend/taipy/src/NodeSelector.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/config/CODE_OF_CONDUCT.md
  taipy/core/CODE_OF_CONDUCT.md
  taipy/core/_repository/_sql_repository.py
  taipy/gui/CODE_OF_CONDUCT.md
  taipy/gui_core/_GuiCoreLib.py
  taipy/rest/CODE_OF_CONDUCT.md
  taipy/templates/CODE_OF_CONDUCT.md
  tests/config/common/test_template_handler.py
Labels: Core, 🟥 Priority: Critical, ✨New feature, 📝Release Notes, GUI: Front-End

#1318 sort scenario selector
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/TableSort.spec.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy-gui/src/extensions/exports.ts
  frontend/taipy/package.json
  frontend/taipy/src/CoreSelector.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/extension/library.py
  taipy/gui_core/_GuiCoreLib.py
  taipy/gui_core/_adapters.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#1277 feature/#1197 pass job as metadata for event
  taipy/core/_entity/_reload.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/notification/notifier.py
  taipy/core/submission/_submission_manager.py
  taipy/core/submission/submission.py
  taipy/gui_core/_context.py
  taipy/gui_core/viselements.json
  tests/core/notification/test_notifier.py
  tests/core/submission/test_submission.py
Labels: Core, 📈 Improvement, Core: 🔔Notifications, Core: Job & Orchestrator

#1333 #709 userman update
  taipy/config/common/scope.py
  taipy/core/cycle/cycle.py
  taipy/core/data/data_node.py
  taipy/core/job/job.py
  taipy/core/sequence/sequence.py
  taipy/core/submission/submission.py
  taipy/core/task/task.py
Labels: Core, 📄 Documentation, 🟨 Priority: Medium

#1335 Feature - Run the dependencies-management action every 2 weeks
  .github/workflows/dependencies-management.yml
Labels: 📈 Improvement, 🖧 Devops

#1336 navigate and download only for the browser window that requests it
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI

#1329 Enterprise/bug/#389 fix insufficient permissions on enterprise
  taipy/core/_entity/_ready_to_run_property.py
  taipy/core/_entity/submittable.py
  taipy/core/_manager/_manager.py
  taipy/core/_orchestrator/_orchestrator.py
  taipy/core/_repository/_filesystem_repository.py
  taipy/core/cycle/_cycle_manager.py
  taipy/core/data/_data_manager.py
  taipy/core/data/data_node.py
  taipy/core/job/_job_manager.py
  taipy/core/reason/__init__.py
  taipy/core/reason/_reason_factory.py
  taipy/core/reason/reason.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/_sequence_manager.py
  taipy/core/submission/_submission_manager.py
  taipy/core/taipy.py
  taipy/core/task/_task_manager.py
  tests/core/_entity/test_ready_to_run_property.py
  tests/core/common/test_reason.py
  tests/core/sequence/test_sequence_manager.py
  tests/gui_core/test_context_is_submitable.py
Labels: 💥Malfunction, Core: 🎬 Scenario & Cycle

#1304 Feature/#405 exposing notification mechanism to user
  taipy/core/notification/core_event_consumer.py
  taipy/core/notification/notifier.py
Labels: Core, 📄 Documentation, Core: 🔔Notifications

#1338 support filter on selector dropdown
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/components/Taipy/DateRange.spec.tsx
  frontend/taipy-gui/src/components/Taipy/DateSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/TableFilter.tsx
  frontend/taipy-gui/src/utils/index.ts
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/DataNodeViewer.tsx
  frontend/taipy/src/ScenarioSelector.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End
