Repository Avaiga/taipy, pull requests merged in 2024-02, with the labels that each got.

#799 Update Frontend Decouple
  frontend/taipy-gui/base/src/app.ts
  taipy/gui/custom/_page.py
  taipy/gui/server.py
Labels: 📈 Improvement, 🖰 GUI

#789 Run tests with new dependencies available
  .github/workflows/dependencies-management.yml
  .github/workflows/overall-tests.yml
Labels: 🖧 Devops, 💥Malfunction, dependencies

#807 Only update requirements file with Python3.12
  .github/workflows/dependencies-management.yml
Labels: 🧪Testing, 🖧 Devops

#805 Fixing typo in the link
  frontend/README.md
Labels: 📄 Documentation, 💥Malfunction, 🟨 Priority: Medium

#811 Code sample for chart example
  doc/gui/examples/charts/advanced-python-lib.py
Labels: 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#825 Minor fixes
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, 💥Malfunction

#828 input update change on enter only when change_delay=-1
  frontend/taipy-gui/src/components/Taipy/Input.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#840 Optimize pre render step (#839)
  taipy/gui/data/data_scope.py
  taipy/gui/gui.py
  taipy/gui/utils/_bindings.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#843 make data tab first in datanode viewer
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui/_renderers/json.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#853 GUI: Decouple ws synchro update (#854)
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/base/src/variableManager.ts
  frontend/taipy-gui/base/webpack.config.js
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/gui.py
  taipy/gui/gui_types.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium

#857 GUI: Use cookies for resource handler (#765)
  frontend/taipy-gui/base/src/index.ts
  frontend/taipy-gui/src/components/Taipy/Navigate.tsx
  taipy/gui/server.py
Labels: 📈 Improvement, 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#858 GUI: frontend decouple get function list (#820)
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/dataManager.ts
  frontend/taipy-gui/base/src/index.ts
  frontend/taipy-gui/base/src/utils.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/_renderers/json.py
  taipy/gui/gui.py
  taipy/gui/gui_types.py
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High

#859 table: lov for column
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/utils.py
  taipy/gui/gui.py
  taipy/gui/utils/table_col_builder.py
  taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#866 update apache-arrow npm package
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#868 support list or tuple in DatanodeViewer
  frontend/taipy/src/DataNodeChart.tsx
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#864 GUI: Json Resolver (#826)
  taipy/gui/__init__.py
  taipy/gui/_renderers/json.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium, 📝Release Notes

#872 datanodeviewer changes
  .github/workflows/frontend.yml
  frontend/taipy-gui/package-lock.json
  frontend/taipy/package-lock.json
  frontend/taipy/src/DataNodeChart.tsx
  frontend/taipy/src/DataNodeTable.tsx
  frontend/taipy/src/DataNodeViewer.tsx
  taipy/gui/config.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#873 Var Renaming Stack Queue
  taipy/gui/_renderers/_html/parser.py
  taipy/gui/_renderers/_markdown/blocproc.py
  taipy/gui/_renderers/_markdown/preproc.py
Labels: 📈 Improvement, 🖰 GUI

#800 Added Step Property to the Slider component
  frontend/taipy-gui/src/components/Taipy/Slider.tsx
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_slider.py
Labels: 📈 Improvement, 🖰 GUI, 🟨 Priority: Medium

#886 fix test_slider linter
  tests/gui/builder/control/test_slider.py
Labels: 🟥 Priority: Critical, 🧪Testing, 💥Malfunction, Gui: Back-End

#884 order scenarios (and cycles)
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, Gui: Back-End

#878 Fix/#874 - Block config and create version when create entities
  taipy/config/common/_config_blocker.py
  taipy/core/_core.py
  taipy/core/_init.py
  taipy/core/_version/_cli/_version_cli.py
  taipy/core/_version/_version_manager.py
  taipy/core/common/_warnings.py
  taipy/core/taipy.py
  tests/core/_backup/test_backup.py
  tests/core/_orchestrator/test_orchestrator__cancel_jobs.py
  tests/core/_orchestrator/test_orchestrator__is_blocked.py
  tests/core/_orchestrator/test_orchestrator__lock_dn_output_and_create_job.py
  tests/core/_orchestrator/test_orchestrator__orchestrate_job_to_run_or_block.py
  tests/core/config/checkers/test_migration_config_checker.py
  tests/core/conftest.py
  tests/core/data/test_data_manager.py
  tests/core/notification/test_core_event_consumer.py
  tests/core/notification/test_events_published.py
  tests/core/notification/test_notifier.py
  tests/core/test_complex_application.py
  tests/core/test_core.py
  tests/core/test_taipy.py
  tests/gui/actions/test_download.py
  tests/gui/actions/test_get_state_id.py
  tests/gui/actions/test_hold_control.py
  tests/gui/actions/test_invoke_callback.py
  tests/gui/actions/test_navigate.py
  tests/gui/actions/test_notify.py
  tests/gui/actions/test_resume_control.py
  tests/gui/conftest.py
  tests/gui/data/test_pandas_data_accessor.py
  tests/gui/gui_specific/test_folder_pages_binding.py
  tests/gui/gui_specific/test_gui.py
  tests/gui/gui_specific/test_locals_context.py
  tests/gui/gui_specific/test_multiple_instances.py
  tests/gui/gui_specific/test_navigate.py
  tests/gui/gui_specific/test_partial.py
  tests/gui/gui_specific/test_render_route.py
  tests/gui/gui_specific/test_run_thread.py
  tests/gui/gui_specific/test_state.py
  tests/gui/gui_specific/test_variable_binding.py
  tests/gui/helpers.py
  tests/gui/ignore/no_file/test_ignore.py
  tests/gui/ignore/with_file/test_with_ignore.py
  tests/gui/long_runnig/test_long_running.py
  tests/gui/renderers/test_html_parsing.py
  tests/gui/server/http/test_extension.py
  tests/gui/server/http/test_file_upload.py
  tests/gui/server/http/test_image_path.py
  tests/gui/server/http/test_status.py
  tests/gui/server/http/test_user_content.py
  tests/gui/server/ws/test_a.py
  tests/gui/server/ws/test_broadcast.py
  tests/gui/server/ws/test_df.py
  tests/gui/server/ws/test_du.py
  tests/gui/server/ws/test_on_change.py
  tests/gui/server/ws/test_ru.py
  tests/gui/server/ws/test_u.py
  tests/gui/server/ws/test_with.py
  tests/gui/utils/test_evaluator.py
  tests/gui/utils/test_map_dict.py
Labels: Core, 🟧 Priority: High, Core: Versioning

#883 Update partial while keeping context if the content is str
  taipy/gui/partial.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#893 reinit chart layout on theme change
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#896 GUI: add onNotify for frontend decouple (#897)
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/utils.ts
Labels: 🖰 GUI, 🟨 Priority: Medium, ✨New feature

#895 Improve error message readability
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, Gui: Back-End

#898 dropdown selector not active
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#900 can't compare naive and aware datetime
  frontend/taipy/package-lock.json
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#903 GUI: Fix context reset (#902)
  taipy/gui/utils/_locals_context.py
Labels: 🖰 GUI, 💥Malfunction
