Repository Avaiga/taipy, pull requests merged in 2025-03, with the labels that each got.

#2461 New example for demoing page modules.
  doc/gui/examples/grocery_store.py
  doc/gui/examples/grocery_store/__init__.py
  doc/gui/examples/grocery_store/sales.py
  doc/gui/examples/grocery_store/stock.py
  frontend/taipy-gui/base/src/wsAdapter.ts
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/Expandable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  frontend/taipy-gui/src/components/Taipy/Notification.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Notification.tsx
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/viselements.json
  tests/gui/actions/test_notify.py
Labels: 📈 Improvement, 📄 Documentation, 🟨 Priority: Medium, Gui: Back-End

#2474 cycle datanode in viewer
  taipy/gui_core/_context.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2373 feature/#397 scenario duplication
  taipy/core/_repository/_filesystem_repository.py
  taipy/core/_version/_version_manager.py
  taipy/core/data/_data_duplicator.py
  taipy/core/data/_data_manager.py
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/data/data_node.py
  taipy/core/exceptions/exceptions.py
  taipy/core/reason/reason.py
  taipy/core/scenario/_scenario_duplicator.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/taipy.py
  taipy/core/task/_task_manager.py
  taipy/core/task/task.py
  tests/core/_entity/test_ready_to_run_property.py
  tests/core/_manager/test_manager.py
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_data_manager.py
  tests/core/data/test_excel_data_node.py
  tests/core/data/test_file_datanode_mixin.py
  tests/core/data/test_json_data_node.py
  tests/core/data/test_parquet_data_node.py
  tests/core/data/test_pickle_data_node.py
  tests/core/job/test_job_manager.py
  tests/core/scenario/test_scenario_duplicator.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/sequence/test_sequence_manager.py
  tests/core/submission/test_submission_manager.py
  tests/core/task/test_task_manager.py
  tests/core/test_taipy.py
Labels: Core, 🟨 Priority: Medium, Core: 📁 Data node, Core: 🎬 Scenario & Cycle

#2479 Remove Project Issue State Sync workflow
  .github/workflows/sync-project-issue-state.yml
Labels: 🖧 Devops

#2478 manage download action
  frontend/taipy-gui/src/components/Taipy/GuiDownload.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  taipy/gui/gui.py
  tests/gui/actions/test_download.py
  tests/gui/content_provider/test_content_provider.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2486 Backport/#2441 #2450
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/GuiDownload.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  taipy/gui/_renderers/builder.py
  taipy/gui/gui.py
  taipy/gui/utils/_evaluator.py
  tests/gui/actions/test_download.py
  tests/gui/builder/control/test_table.py
  tests/gui/control/test_table.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction, 📝Release Notes

#2484 Automatic link to Taipy's doc page from the element properties doc in the IDE (Page Builder API)
  .coveragerc
  doc/gui/examples/controls/toggle_styling.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
  tools/coverage_check.py
  tools/gui/generate_pyi.py
Labels: 📈 Improvement, 📄 Documentation, 🖰 GUI, 🟧 Priority: High

#2488 Prepare for taipy and taipy-gui 4.0.3.dev1
  taipy/gui/version.json
  taipy/version.json
Labels: 🖧 Devops

#2491 set selector width
  frontend/taipy-gui/.eslintrc.js
  frontend/taipy-gui/eslint.config.mjs
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/public/index.html
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/webpack.config.js
  frontend/taipy/.eslintrc.js
  frontend/taipy/eslint.config.mjs
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  frontend/taipy/src/projectstorm/factories.tsx
  taipy/gui/builder/_element.py
Labels: 💥Malfunction, 🟧 Priority: High, GUI: Front-End

#2497 selector width
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2503 Backport: Block non authorized front-end variable update (ie var name including .)
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2502 Block non authorized front-end variable update
  taipy/gui/extension/__main__.py
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2504 block invalid variable name
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2505 Make core event registration able to support multiple topics
  taipy/core/notification/_registration.py
  taipy/core/notification/_topic.py
  taipy/core/notification/notifier.py
  tests/core/conftest.py
  tests/core/notification/test_notifier.py
  tests/core/notification/test_registration.py
  tests/core/notification/test_topic.py
Labels: Core, 📈 Improvement, 🟧 Priority: High, Core: 🔔Notifications, Enterprise

#2506 Chart title dynamic
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 📈 Improvement, 🖰 GUI, 🟧 Priority: High, 📝Release Notes

#2510 Feature/#2292 allow menu to be expanded by default (Redo)
  frontend/taipy-gui/src/components/Taipy/Menu.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Menu.tsx
  frontend/taipy-gui/src/components/Taipy/MenuCtl.tsx
  frontend/taipy-gui/src/utils/lov.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature

#2499 Build and release processes improvements
  .github/workflows/build-and-release-single-package.yml
  .github/workflows/build-and-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .gitignore
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/TableSort.tsx
  frontend/taipy/package.json
  pyproject.toml
  taipy/common/pyproject.toml
  taipy/common/setup.py
  taipy/common/version.json
  taipy/core/pyproject.toml
  taipy/core/setup.py
  taipy/core/version.json
  taipy/gui/pyproject.toml
  taipy/gui/setup.py
  taipy/gui/version.json
  taipy/rest/pyproject.toml
  taipy/rest/version.json
  taipy/templates/pyproject.toml
  taipy/templates/setup.py
  taipy/templates/version.json
  taipy/version.json
  tests/tools/release/__init__.py
  tests/tools/release/test_version.py
  tools/frontend/bundle_build.py
  tools/packages/taipy-common/MANIFEST.in
  tools/packages/taipy-common/setup.py
  tools/packages/taipy-core/MANIFEST.in
  tools/packages/taipy-core/setup.py
  tools/packages/taipy-gui/MANIFEST.in
  tools/packages/taipy-gui/setup.py
  tools/packages/taipy-rest/MANIFEST.in
  tools/packages/taipy-rest/setup.py
  tools/packages/taipy-templates/MANIFEST.in
  tools/packages/taipy-templates/setup.py
  tools/packages/taipy/MANIFEST.in
  tools/packages/taipy/setup.py
  tools/release/build_package_structure.py
  tools/release/check_package_version.py
  tools/release/check_releases.py
  tools/release/common.py
  tools/release/fetch_latest_versions.py
  tools/release/setup_project.py
  tools/release/setup_version.py
  tools/release/update_setup.py
  tools/release/update_setup_requirements.py
  tools/validate_taipy_install.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction, 🔒 Staff only

#2520 Bug/#2516 dn selector filter
  taipy/gui_core/_context.py
Labels: Core, 🖰 GUI, 💥Malfunction

#2522 Prepare for 4.0.3 (dev1)
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🖧 Devops
