Repository Avaiga/taipy, pull requests merged in 2025-05, with the labels that each got.

#2590 support a list of Icon as Users
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/utils/index.ts
  tools/coverage_check.py
  tools/gui/generate_pyi.py
  tools/release/common.py
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2588 Debug - Dependencies installation issue with Windows
  .github/actions/install/action.yml
  .github/workflows/build-and-release-single-package.yml
  .github/workflows/build-and-release.yml
  .github/workflows/partial-tests.yml
  Pipfile
Labels: 🖧 Devops, 💥Malfunction, dependencies

#2577 Refactor - Allow passing extra package name to check dependency
  taipy/common/_check_dependencies.py
  taipy/common/_cli/_create_cli_factory.py
  taipy/core/_cli/_core_cli_factory.py
  taipy/core/_entity/_reload.py
  taipy/core/_orchestrator/_orchestrator_factory.py
  taipy/core/_version/_cli/_version_cli_factory.py
  taipy/core/_version/_version_manager_factory.py
  taipy/core/cycle/_cycle_manager_factory.py
  taipy/core/data/_data_manager_factory.py
  taipy/core/data/aws_s3.py
  taipy/core/data/mongo.py
  taipy/core/job/_job_manager_factory.py
  taipy/core/scenario/_scenario_manager_factory.py
  taipy/core/sequence/_sequence_manager_factory.py
  taipy/core/submission/_submission_manager_factory.py
  taipy/core/task/_task_manager_factory.py
Labels: Core, 📈 Improvement

#2596 Debug installing dependencies with Pipfile from release/4.0
  .github/actions/install/action.yml
  .github/workflows/build-and-release-single-package.yml
  .github/workflows/build-and-release.yml
  .github/workflows/partial-tests.yml
Labels: 🖧 Devops, 💥Malfunction, dependencies

#2592 Refactor - Allow expanding read/write FileBasedDataNode with custom path
  taipy/core/data/_file_datanode_mixin.py
  taipy/core/data/csv.py
  taipy/core/data/data_node.py
  taipy/core/data/excel.py
  taipy/core/data/json.py
  taipy/core/data/parquet.py
  taipy/core/data/pickle.py
  tests/core/data/test_write_parquet_data_node.py
Labels: 📈 Improvement, Core: 📁 Data node

#2566 Event consumer API simplification into develop
  .github/workflows/codeql-analysis.yml
  taipy/common/_check_dependencies.py
  taipy/core/data/json.py
  taipy/core/notification/__init__.py
  taipy/core/notification/_core_event_consumer.py
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/task/_task_manager.py
  taipy/event/__init__.py
  taipy/event/_event_callback.py
  taipy/event/_event_processor.py
  taipy/event/event_consumer.py
  taipy/exceptions/__init__.py
  taipy/gui_core/_context.py
  tests/core/notification/test_core_event_consumer.py
  tests/core/notification/test_events_published.py
  tests/core/notification/test_notifier.py
  tests/core/sequence/test_sequence_manager.py
  tests/event/__init__.py
  tests/event/conftest.py
  tests/event/test_consumer__on_datanode_created.py
  tests/event/test_consumer__on_datanode_deleted.py
  tests/event/test_consumer__on_datanode_written.py
  tests/event/test_consumer__on_event.py
  tests/event/test_consumer__on_scenario_created.py
  tests/event/test_consumer__on_scenario_deleted.py
  tests/event/test_consumer__on_submission_finished.py
  tests/event/test_consumer__process_event.py
  tests/tools/__init__.py
  tools/gui/generate_pyi.py
Labels: Core, 🟨 Priority: Medium, Core: 🔔Notifications

#2601 #2597 Fix missing parent_ids
  taipy/core/task/_task_manager.py
  tests/core/_orchestrator/_dispatcher/test_dispatcher__update_job_status.py
  tests/core/conftest.py
  tests/core/job/test_job.py
  tests/core/scenario/test_scenario.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/sequence/test_sequence.py
  tests/core/sequence/test_sequence_manager.py
  tests/core/task/test_task.py
  tests/core/task/test_task_manager.py
  tests/rest/conftest.py
  tests/rest/test_task.py
Labels: Core, 🟨 Priority: Medium, Core: Repository

#2602 2597 fix parent ids to release/4.1
  taipy/core/scenario/_scenario_manager.py
  taipy/core/scenario/scenario.py
  taipy/core/sequence/_sequence_manager.py
  taipy/core/task/_task_manager.py
  tests/core/scenario/test_scenario.py
  tests/core/scenario/test_scenario_manager.py
  tests/core/sequence/test_sequence_manager.py
Labels: Core, 🟥 Priority: Critical, 💥Malfunction, Core: Repository

#2604 #enterprise-666 prepare migration feature into release/4.1
  taipy/core/config/task_config.py
  taipy/core/scenario/scenario.py
  tests/core/config/test_task_config.py
Labels: Core, 🟥 Priority: Critical, Enterprise

#2605 Enterprise 666 prepare migration feature
  taipy/core/config/task_config.py
  taipy/core/scenario/scenario.py
  tests/core/config/test_task_config.py
  tools/release/common.py
Labels: Core, 🟨 Priority: Medium, Enterprise

#2585 Drag n Drop (native)
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Expandable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Menu.tsx
  frontend/taipy-gui/src/components/Taipy/Part.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Part.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/dndUtils.ts
  frontend/taipy-gui/src/components/Taipy/lovUtils.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature, 📝Release Notes

#2614 Fix/Enterprise#664 - Initialize Orchestrator instance correctly when creates entities
  taipy/core/taipy.py
Labels: Core, 💥Malfunction, 🟧 Priority: High, Core: Job & Orchestrator

#2617 Tmp/4.1
  doc/gui/examples/async_callback.py
  doc/gui/examples/controls/chat_calculator.py
  doc/gui/examples/controls/chat_discuss.py
  doc/gui/examples/controls/chat_images.py
  doc/gui/examples/controls/text_latex.py
  frontend/taipy-gui/base/src/packaging/package.json
  frontend/taipy-gui/dom/package.json
  frontend/taipy-gui/jest.config.js
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/packaging/package.json
  frontend/taipy-gui/src/components/Taipy/Chat.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chat.tsx
  frontend/taipy-gui/src/components/Taipy/Field.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Field.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/utils/image.ts
  frontend/taipy-gui/test-config/markdown.tsx
  frontend/taipy/package-lock.json
  frontend/taipy/package.json
  taipy/gui/_renderers/factory.py
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/mock/__init__.py
  taipy/gui/mock/mock_state.py
  taipy/gui/state.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/callable.py
  taipy/gui/utils/threads.py
  taipy/gui/viselements.json
  taipy/gui_core/viselements.json
  tests/gui/actions/test_download.py
  tests/gui/e2e/with_action/test_input.py
  tests/gui/gui_specific/test_state.py
  tests/gui/mock/test_mock_state.py
Labels: 🟥 Priority: Critical, 🖰 GUI

#2622 select all with filter
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy/package-lock.json
  taipy/core/_entity/_reload.py
Labels: 📈 Improvement, 🟧 Priority: High, GUI: Front-End

#2623 input delay -1 with on blur
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2625 Backport select all with filter (#2622)
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, 📈 Improvement, 📝Release Notes, GUI: Front-End

#2627 expression with new line
  taipy/gui/utils/_evaluator.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2628 Backport #2610 new line in text
  taipy/gui/utils/_evaluator.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2626 backport input delay -1 with on blur (#2623)
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2629 fix async callback support in 4.1
  taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2632 mathjax dynamic
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/components/Taipy/Field.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Field.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2636 selector with filter show selectionMessage
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2640 Backport: selector with filter show selectionMessage (#2636)
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2634 Refactor - Move config/stubs to tools
  .github/workflows/partial-tests.yml
  .github/workflows/update-config-pyi.yml
  pyproject.toml
  taipy/common/README.md
  taipy/common/config/config.pyi
  tools/config/generate_pyi.py
  tools/config/pyi_header.py
Labels: 📈 Improvement, 🖧 Devops, Core: ⚙️ Configuration

#2647 notify (or any gui_actions) with async state
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/state.py
  tests/gui/actions/test_action_with_async_state.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#2648 Backport: notify (or any gui_actions) with async state (#2647)
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/state.py
  tests/gui/actions/test_action_with_async_state.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 💥Malfunction, 📝Release Notes, GUI: Front-End, Gui: Back-End

#2652 Feature/#2603 - Add separator property to CSVDataNode
  taipy/common/config/config.pyi
  taipy/core/config/data_node_config.py
  taipy/core/data/csv.py
  tests/core/config/test_config_serialization.py
  tests/core/config/test_configure_default_config.py
  tests/core/data/data_sample/example_2.csv
  tests/core/data/test_csv_data_node.py
  tests/core/data/test_data_manager.py
  tests/core/data/test_read_csv_data_node.py
  tests/core/data/test_write_csv_data_node.py
Labels: 🟨 Priority: Medium, ✨New feature, Core: ⚙️ Configuration, Core: 📁 Data node

#2656 Fix - `update()` is not imported at taipy level
  taipy/core/_init.py
Labels: Core, 💥Malfunction
