Repository Avaiga/taipy, pull requests merged in 2025-09, with the labels that each got.

#2715 Fixed documentation generation for extension library elements.
  taipy/gui/extension/__main__.py
  taipy/gui/extension/library.py
  tests/gui/extension/test_tgb.py
Labels: 🖧 Devops, 📄 Documentation, 🖰 GUI

#2719 do not check the plotly generated json (#2717)
  taipy/gui/gui.py
  taipy/gui/utils/__init__.py
  taipy/gui/utils/_check_plotly.py
  taipy/gui/utils/types.py
Labels: 📈 Improvement, 🟩 Priority: Low, 📝Release Notes, Gui: Back-End

#2718 Feature/small code improvements
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/package.json
  frontend/taipy-gui/src/components/Taipy/Part.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
  frontend/taipy/package-lock.json
  taipy/gui/_renderers/_html/parser.py
  taipy/gui/_renderers/_markdown/blocproc.py
  taipy/gui/gui.py
  tests/gui/actions/test_action_with_async_state.py
  tests/gui/actions/test_actions.py
  tests/gui/actions/test_download.py
  tests/gui/actions/test_get_module_context.py
  tests/gui/actions/test_get_state_id.py
  tests/gui/actions/test_get_user_content_url.py
  tests/gui/actions/test_hold_control.py
  tests/gui/actions/test_invoke_callback.py
  tests/gui/actions/test_navigate.py
  tests/gui/actions/test_notify.py
  tests/gui/actions/test_resume_control.py
  tests/gui/content_provider/test_content_provider.py
  tests/gui/data/test_pandas_data_accessor.py
  tests/gui/gui_specific/test_favicon.py
  tests/gui/gui_specific/test_navigate.py
  tests/gui/gui_specific/test_partial.py
  tests/gui/helpers.py
  tests/gui/server/ws/test_a.py
  tests/gui/server/ws/test_broadcast.py
  tests/gui/server/ws/test_du.py
  tests/gui/server/ws/test_on_change.py
  tests/gui/server/ws/test_ru.py
  tests/gui/server/ws/test_u.py
  tests/gui/server/ws/test_with.py
Labels: 📈 Improvement, 🖰 GUI, 🟩 Priority: Low, python, javascript
