Repository Avaiga/taipy, pull requests merged in 2025-04, with the labels that each got.

#2525 line breaks in table cells
  frontend/taipy-gui/packaging/taipy-gui.d.ts
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 📈 Improvement, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2530 order of parameter generation for builder
  tools/gui/generate_pyi.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#2532 Backport: Builder Args order
  tools/gui/generate_pyi.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#2536 Bump package versions to 4.0.3.dev3
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖧 Devops

#2507 Refactor button and input components to use dynamic height based on size prop
  frontend/taipy-gui/src/components/Taipy/Input.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Input.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  frontend/taipy-gui/src/themes/stylekit.ts
  taipy/gui/_renderers/factory.py
  taipy/gui/viselements.json
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#2538 chart none data
  taipy/gui/utils/chart_config_builder.py
  tests/gui/builder/control/test_chart.py
  tests/gui/control/test_chart.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2542 Fix URL encoding in content accessor by replacing quote_plus with quote for file URLs
  taipy/gui/data/content_accessor.py
  tests/gui/control/test_file_download.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#2544 Back/front unsync: default behavior
  frontend/taipy-gui/base/src/app.ts
  frontend/taipy-gui/base/src/packaging/taipy-gui-base.d.ts
  frontend/taipy-gui/base/src/socket.ts
  frontend/taipy-gui/base/src/wsAdapter.ts
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  taipy/gui/_default_config.py
  taipy/gui/config.py
  taipy/gui/gui.py
  taipy/gui/types.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High, ✨New feature, 📝Release Notes

#2443 Chart animation
  doc/gui/examples/charts/advanced_animation.py
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  frontend/taipy-gui/src/components/Taipy/Expandable.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Metric.tsx
  frontend/taipy-gui/src/context/taipyReducers.spec.ts
  frontend/taipy-gui/webpack.config.js
  taipy/gui/_renderers/factory.py
  taipy/gui/utils/chart_config_builder.py
  taipy/gui/viselements.json
Labels: 🟧 Priority: High, ✨New feature, 📝Release Notes, GUI: Front-End, Gui: Back-End

#2548 make `lines_shown` more directive
  frontend/taipy-gui/src/components/Taipy/Input.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2554 Table with list
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2555 Backport: Table with lists
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2556 Backport: File upload should be reset
  frontend/taipy-gui/src/components/Taipy/FileSelector.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, GUI: Front-End

#2563 process events under authorization - Issue #662 - Backport #2540
  taipy/gui_core/_context.py
  tests/gui_core/test_context_process_event_datanode.py
  tests/gui_core/test_context_process_event_job.py
  tests/gui_core/test_context_process_event_scenario.py
  tests/gui_core/test_context_process_event_sequence.py
Labels: Core, Gui: Back-End, Core: 🔔Notifications, Enterprise: 🛂 Authorization

#2565 process events under authorization - Issue #662 - Backport #2540
  taipy/gui_core/_context.py
  tests/gui_core/test_context_process_event_datanode.py
  tests/gui_core/test_context_process_event_job.py
  tests/gui_core/test_context_process_event_scenario.py
  tests/gui_core/test_context_process_event_sequence.py
Labels: Core, Gui: Back-End, Core: 🔔Notifications, Enterprise: 🛂 Authorization

#2567 Bump packages versions to 4.0.3.dev5
  taipy/common/version.json
  taipy/core/version.json
  taipy/gui/version.json
  taipy/rest/version.json
  taipy/templates/version.json
  taipy/version.json
Labels: 🟥 Priority: Critical, 🧪Testing, 🖧 Devops

#2570 update publish.yml
  .github/workflows/publish.yml
  tools/release/common.py
Labels: 🖧 Devops
