Repository Avaiga/taipy, pull requests merged in 2025-01, with the labels that each got.

#2367 Feature/#2263 - Convert templates from markdown to tgb
  taipy/templates/default/hooks/post_gen_project.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/page_example/page_example.md
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/page_example/page_example.py
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/root.md
  taipy/templates/default/{{cookiecutter.__root_folder}}/pages/root.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/job_page/job_page.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/job_page/job_page.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/root.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/root.py
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/scenario_page.md
  taipy/templates/sdm/{{cookiecutter.__root_folder}}/pages/scenario_page/scenario_page.py
  tests/templates/test_default_template.py
Labels: 📈 Improvement

#2380 Feature/enterprise#550 - Create _CreateCLIFactory to allow expanding the taipy create command
  taipy/_entrypoint.py
  taipy/common/_cli/_create_cli.py
  taipy/common/_cli/_create_cli_factory.py
Labels: ✨New feature, Enterprise

#2375 Allow custom Javascript files for specific page
  frontend/taipy-gui/src/components/pages/TaipyRendered.tsx
  taipy/gui/_page.py
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/server.py
Labels: GUI: Front-End, Gui: Back-End

#2390 Chart: Support indexed data
  frontend/taipy-gui/src/components/Taipy/Chart.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/gui.py
  taipy/gui/utils/chart_config_builder.py
  taipy/gui/viselements.json
  tests/gui/builder/control/test_chart.py
  tests/gui/control/test_chart.py
  tests/gui/gui_specific/test_gui.py
Labels: 🟥 Priority: Critical, 🖰 GUI, ✨New feature, 📝Release Notes

#2400 fix hold_control action support
  taipy/gui/gui.py
  taipy/gui/utils/callable.py
  tests/gui/gui_specific/test_callable.py
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, Gui: Back-End

#2234 get localstorage support (#2190)
  frontend/taipy-gui/base/src/packaging/taipy-gui-base.d.ts
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/context/taipyReducers.ts
  frontend/taipy-gui/src/context/wsUtils.ts
  frontend/taipy-gui/src/hooks/index.ts
  frontend/taipy-gui/src/hooks/useLocalStorageWithEvent.ts
  taipy/gui/__init__.py
  taipy/gui/data/data_scope.py
  taipy/gui/gui.py
  taipy/gui/gui_actions.py
  taipy/gui/types.py
Labels: 🖰 GUI, 📝Release Notes

#2403 Navbar: do not select the first value on unknown id
  frontend/taipy-gui/src/components/Taipy/NavBar.spec.tsx
  frontend/taipy-gui/src/components/Taipy/NavBar.tsx
Labels: 💥Malfunction, 🟧 Priority: High, 📝Release Notes, GUI: Front-End

#2415 Feature - Update template questions
  taipy/templates/default/cookiecutter.json
  taipy/templates/sdm/cookiecutter.json
  tests/templates/test_default_template.py
  tests/templates/test_scenario_mgt_template.py
Labels: ✨New feature

#2424 handle multi trace with one data
  frontend/taipy-gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2423 Feature/#2322 - Log error when sequence or scenario is not consistent
  taipy/core/scenario/scenario.py
  taipy/core/sequence/sequence.py
  tests/core/scenario/test_scenario.py
  tests/core/sequence/test_sequence.py
Labels: 📈 Improvement, 🧪Testing, ✨New feature

#2426 Add warning message on pickle usage #390
  taipy/core/data/pickle.py
Labels: Core, 📈 Improvement, 📄 Documentation, 🟩 Priority: Low, Core: Data node

#2425 Fix Selector Height for Radio/Check Mode
  frontend/taipy-gui/src/components/Taipy/Selector.spec.tsx
  frontend/taipy-gui/src/components/Taipy/Selector.tsx
Labels: 💥Malfunction, 🟧 Priority: High, GUI: Front-End

#2422 feature/#2330 Refactor the _check_required_properties function
  taipy/core/config/checkers/_data_node_config_checker.py
Labels: Core, Core: ⚙️ Configuration

#2429 LoV values not properly handled in default adapter
  taipy/gui/_renderers/_markdown/factory.py
  taipy/gui/utils/_adapter.py
  tests/gui/renderers/test_md_parsing.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2428 Fix/2420 - Only check the compatibility of the core_version when not in development mode
  taipy/core/_version/_version_manager.py
  tests/core/config/test_core_version.py
Labels: 📈 Improvement, 💥Malfunction, Core: Versioning
