Repository Avaiga/taipy, pull requests merged in 2025-02, with the labels that each got.

#2433 Prepare for extendability
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/public/stylekit/controls/table.css
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.spec.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/utils.py
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/gui.py
  taipy/gui/utils/chart_config_builder.py
  taipy/gui/utils/getdatecolstrname.py
  taipy/gui_core/viselements.json
  tests/gui/builder/control/test_chart.py
  tests/gui/builder/control/test_table.py
  tests/gui/control/test_chart.py
  tests/gui/control/test_table.py
  tests/gui/data/test_accessors.py
  tests/gui/data/test_array_dict_data_accessor.py
  tests/gui/data/test_pandas_data_accessor.py
  tests/gui/gui_specific/test_expression.py
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature

#2437 Allow overriding data accessor for pandas
  .gitignore
  taipy/gui/data/array_dict_data_accessor.py
  taipy/gui/data/data_accessor.py
  taipy/gui/data/numpy_data_accessor.py
  taipy/gui/data/pandas_based_data_accessor.py
  tests/gui/data/test_accessors.py
  tests/gui/data/test_array_dict_data_accessor.py
  tests/gui/data/test_numpy_data_accessor.py
Labels: 🟧 Priority: High, ✨New feature, Gui: Back-End

#2438 Page Builder API for extension library elements... and a bit more
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
  frontend/taipy-gui/src/components/Taipy/utils.ts
  taipy/gui/_renderers/builder.py
  taipy/gui/_renderers/factory.py
  taipy/gui/builder/_api_generator.py
  taipy/gui/extension/__main__.py
  taipy/gui/extension/library.py
  taipy/gui/types.py
  taipy/gui_core/_GuiCoreLib.py
  tests/gui/extension/test_library.py
  tests/gui/extension/test_tgb.py
Labels: 🖰 GUI, 🟧 Priority: High, ✨New feature

#2444 Manage context for pages that are not directly declared
  taipy/common/config/config.pyi
  taipy/gui/_page.py
  taipy/gui/gui.py
  taipy/gui/page.py
  taipy/gui/utils/_locals_context.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2440 Refactor - Allow expanding the TYPE_PATTERN by the _BaseSerializer._SERIALIZABLE_TYPES list
  taipy/common/config/__init__.py
  taipy/common/config/_serializer/_base_serializer.py
  tests/common/config/test_inject_section.py
  tests/common/config/test_section_serialization.py
  tests/common/config/utils/section_for_tests.py
  tests/common/config/utils/serializable_object_for_test.py
  tests/conftest.py
Labels: 📈 Improvement

#2445 clean and finish management of additional pages
  taipy/gui/_page.py
  taipy/gui/gui.py
  taipy/gui/page.py
Labels: 🟥 Priority: Critical, 💥Malfunction, Gui: Back-End

#2432 feat: add rest config and rest config checker
  taipy/common/config/config.pyi
  taipy/common/config/stubs/generate_pyi.py
  taipy/common/config/stubs/pyi_header.py
  taipy/rest/config/__init__.py
  taipy/rest/config/rest_checker.py
  taipy/rest/config/rest_config.py
  taipy/rest/rest.py
  tests/conftest.py
  tests/rest/conftest.py
  tests/rest/test_rest_config.py
Labels: 🖧 Devops, ⚙️Configuration, Core: Rest API, 🟨 Priority: Medium, 📝Release Notes

#2454 local storage can be sent before the client id has been set
  frontend/taipy-gui/package-lock.json
  frontend/taipy-gui/src/components/Router.tsx
  frontend/taipy-gui/src/hooks/useLocalStorageWithEvent.ts
Labels: 🟥 Priority: Critical, 🖰 GUI, 💥Malfunction

#2457 Feature - Allow serialize Enum object
  taipy/common/config/_serializer/_base_serializer.py
  taipy/common/config/common/_template_handler.py
Labels: ⚙️Configuration

#2462 force table column width
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
Labels: 🟥 Priority: Critical, 💥Malfunction, GUI: Front-End

#2463 evaluate expression in different client context
  taipy/gui/gui.py
  taipy/gui/utils/_evaluator.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End

#2464 support html tag in markdown line
  taipy/gui/_renderers/_markdown/preproc.py
  tests/gui/renderers/test_md_parsing.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes, Gui: Back-End
